# Exploring with Pandas and SAV files

1. Explore Endes `RECH1.SAV` file. It is located in this path `Diplomado_PUCP/_data/endes/2015/RECH1.SAV`.

In [1]:
import pandas as pd

In [2]:
import pyreadstat

filepath = '../_data/endes/2015/RECH1.SAV'
df, meta = pyreadstat.read_sav(filepath) # devuelve una tupla de dos elementos (df, meta)b

In [3]:
df

,HHID,HVIDX,HV101,HV102,HV103,HV104,HV105,HV106,HV107,HV108,...,HV137,HV138,HV139,HV140,QH13A1,QH13A2,QH13A3,QH13A4,QH13A5,QH13A6
0,000104301,3.0,3.0,1.0,1.0,1.0,2.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
1,000207901,5.0,3.0,1.0,1.0,1.0,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
2,000211901,4.0,3.0,1.0,1.0,1.0,3.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
3,000213001,5.0,10.0,1.0,1.0,1.0,2.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
4,000218601,2.0,3.0,1.0,1.0,1.0,3.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151262,157921501,6.0,10.0,1.0,1.0,2.0,81.0,1.0,3.0,3.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
151263,316602101,12.0,7.0,1.0,1.0,2.0,80.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
151264,316911501,1.0,1.0,1.0,1.0,2.0,86.0,1.0,5.0,5.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
151265,317203201,2.0,2.0,1.0,1.0,2.0,80.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
151266,317406201,2.0,6.0,1.0,1.0,2.0,81.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0

In [4]:
meta

In [5]:
meta.column_labels # etiquetas de los nombres de las columnas

['Case Identification',
 'Line number',
 'Relationship to head',
 'Usual resident',
 'Slept last night',
 'Sex of household member',
 'Age of household members',
 'Highest educational level',
 'Highest year of education',
 'Education in single years',
 'Educational attainment',
 'Member still in school',
 'Mother alive',
 "Mother's line number",
 'Father alive',
 "Father's line number",
 'Current marital status',
 'Currently, formerly, never m.',
 'Eligibility for female interview',
 'Eligibility for male interview',
 'Children eligibility for height/weight and hemoglobin',
 'Member attended school during current school year',
 'Educational level during current school year',
 'Grade of education during current school year',
 'Education in single years - current school year',
 'Member attended school during previous school year',
 'Educational level during previous school year',
 'Grade of education during previous school year',
 'Education in single years - previous school year',
 'School attendance status',
 'Member has been very sick for 3+ months last year',
 'Mother has been very sick for 3+ months last year',
 'Father has been very sick for 3+ months last year',
 'Mother/father dead or been very sick for 3+ months',
 'Both parents alive',
 'Has brothers/sisters under 18 of the same father and mother',
 "Brothers/sisters under 18 that don't live in household",
 'Member has a blanket',
 'Member has a pair of shoes',
 'Member has 2+ sets of clothes',
 'Member has a birth certificate',
 'Limitacion permanente para moverse',
 'Limitacion permanente para ver',
 'Limitacion permanente para oir',
 'Limitacion permanente para hablar',
 'Limitacion permanente para entender',
 'Limitacion permanenete para relacionarse']

In [6]:
meta.column_names # nombres de las columnas

['HHID',
 'HVIDX',
 'HV101',
 'HV102',
 'HV103',
 'HV104',
 'HV105',
 'HV106',
 'HV107',
 'HV108',
 'HV109',
 'HV110',
 'HV111',
 'HV112',
 'HV113',
 'HV114',
 'HV115',
 'HV116',
 'HV117',
 'HV118',
 'HV120',
 'HV121',
 'HV122',
 'HV123',
 'HV124',
 'HV125',
 'HV126',
 'HV127',
 'HV128',
 'HV129',
 'HV130',
 'HV131',
 'HV132',
 'HV133',
 'HV134',
 'HV135',
 'HV136',
 'HV137',
 'HV138',
 'HV139',
 'HV140',
 'QH13A1',
 'QH13A2',
 'QH13A3',
 'QH13A4',
 'QH13A5',
 'QH13A6']

In [7]:
meta.column_names_to_labels # diccionario con el nombre de la variable (key) y su definición

{'HHID': 'Case Identification',
 'HVIDX': 'Line number',
 'HV101': 'Relationship to head',
 'HV102': 'Usual resident',
 'HV103': 'Slept last night',
 'HV104': 'Sex of household member',
 'HV105': 'Age of household members',
 'HV106': 'Highest educational level',
 'HV107': 'Highest year of education',
 'HV108': 'Education in single years',
 'HV109': 'Educational attainment',
 'HV110': 'Member still in school',
 'HV111': 'Mother alive',
 'HV112': "Mother's line number",
 'HV113': 'Father alive',
 'HV114': "Father's line number",
 'HV115': 'Current marital status',
 'HV116': 'Currently, formerly, never m.',
 'HV117': 'Eligibility for female interview',
 'HV118': 'Eligibility for male interview',
 'HV120': 'Children eligibility for height/weight and hemoglobin',
 'HV121': 'Member attended school during current school year',
 'HV122': 'Educational level during current school year',
 'HV123': 'Grade of education during current school year',
 'HV124': 'Education in single years - current school year',
 'HV125': 'Member attended school during previous school year',
 'HV126': 'Educational level during previous school year',
 'HV127': 'Grade of education during previous school year',
 'HV128': 'Education in single years - previous school year',
 'HV129': 'School attendance status',
 'HV130': 'Member has been very sick for 3+ months last year',
 'HV131': 'Mother has been very sick for 3+ months last year',
 'HV132': 'Father has been very sick for 3+ months last year',
 'HV133': 'Mother/father dead or been very sick for 3+ months',
 'HV134': 'Both parents alive',
 'HV135': 'Has brothers/sisters under 18 of the same father and mother',
 'HV136': "Brothers/sisters under 18 that don't live in household",
 'HV137': 'Member has a blanket',
 'HV138': 'Member has a pair of shoes',
 'HV139': 'Member has 2+ sets of clothes',
 'HV140': 'Member has a birth certificate',
 'QH13A1': 'Limitacion permanente para moverse',
 'QH13A2': 'Limitacion permanente para ver',
 'QH13A3': 'Limitacion permanente para oir',
 'QH13A4': 'Limitacion permanente para hablar',
 'QH13A5': 'Limitacion permanente para entender',
 'QH13A6': 'Limitacion permanenete para relacionarse'}

In [8]:
meta.variable_value_labels # diccionario con las etiquetas de las categorías de las variables

{'HV101': {1.0: 'Head',
  2.0: 'Wife or husband',
  3.0: 'Son/daughter',
  4.0: 'Son/daughter-in-law',
  5.0: 'Grandchild',
  6.0: 'Parent',
  7.0: 'Parent-in-law',
  8.0: 'Brother/sister',
  9.0: 'Co-spouse',
  10.0: 'Other relative',
  11.0: 'Adopted/foster child',
  12.0: 'Not related',
  13.0: 'Niece/nehew by blood',
  14.0: 'Niece/nephew by marriage',
  15.0: 'Maid',
  98.0: 'DK'},
 'HV102': {0.0: 'No', 1.0: 'Yes'},
 'HV103': {0.0: 'No', 1.0: 'Yes'},
 'HV104': {1.0: 'Male', 2.0: 'Female'},
 'HV105': {97.0: '97+', 98.0: 'DK'},
 'HV106': {0.0: 'No education, preschool',
  1.0: 'Primary',
  2.0: 'Secondary',
  3.0: 'Higher',
  8.0: 'DK'},
 'HV107': {98.0: 'DK'},
 'HV108': {97.0: 'Inconsistent', 98.0: 'DK'},
 'HV109': {0.0: 'No education',
  1.0: 'Incomplete primary',
  2.0: 'Complete primary',
  3.0: 'Incomplete secondary',
  4.0: 'Complete secondary',
  5.0: 'Higher',
  8.0: 'DK'},
 'HV110': {0.0: 'No', 1.0: 'Yes'},
 'HV111': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV112': {0.0: 'Mother not in HH'},
 'HV113': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV114': {0.0: 'Father not in HH'},
 'HV115': {0.0: 'Never married',
  1.0: 'Married',
  2.0: 'Living together',
  3.0: 'Widowed',
  4.0: 'Divorced',
  5.0: 'Not living together'},
 'HV116': {0.0: 'Never married',
  1.0: 'Currently married',
  2.0: 'Formerly/ever marr.'},
 'HV117': {0.0: 'Not eligible', 1.0: 'Eligible'},
 'HV118': {0.0: 'Not eligible', 1.0: 'Eligible'},
 'HV120': {0.0: 'Not eligible', 1.0: 'Eligible'},
 'HV121': {0.0: 'No',
  1.0: 'Currently attending',
  2.0: 'Attended at some time'},
 'HV122': {0.0: 'No education, preschool',
  1.0: 'Primary',
  2.0: 'Secondary',
  3.0: 'Higher',
  8.0: 'DK'},
 'HV123': {98.0: 'DK'},
 'HV124': {97.0: 'Inconsistent', 98.0: 'DK'},
 'HV125': {0.0: 'No', 1.0: 'Yes'},
 'HV126': {0.0: 'No education, preschool',
  1.0: 'Primary',
  2.0: 'Secondary',
  3.0: 'Higher',
  8.0: 'DK'},
 'HV127': {98.0: 'DK'},
 'HV128': {97.0: 'Inconsistent', 98.0: 'DK'},
 'HV129': {0.0: 'Never attended',
  1.0: 'Entered school',
  2.0: 'Advanced',
  3.0: 'Repeating',
  4.0: 'Dropout',
  5.0: 'Left school 2+ years ago',
  8.0: 'DK'},
 'HV130': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV131': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV132': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV133': {0.0: 'No', 1.0: 'Yes'},
 'HV134': {0.0: 'No', 1.0: 'Yes'},
 'HV135': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV136': {0.0: 'No', 1.0: 'Yes'},
 'HV137': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV138': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV139': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV140': {0.0: 'Neither certificate or registered',
  1.0: 'Has certificate',
  2.0: 'Registered',
  8.0: 'DK'},
 'QH13A1': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A2': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A3': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A4': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A5': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A6': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'}}

In [9]:
df.attrs # es un diccionario vacío al que se le pueden agregar atributos

{}

In [10]:
df.attrs['cols_and_labels'] = meta.column_names_to_labels
df.attrs['vars_and_labels'] = meta.variable_value_labels
df.attrs

{'cols_and_labels': {'HHID': 'Case Identification',
  'HVIDX': 'Line number',
  'HV101': 'Relationship to head',
  'HV102': 'Usual resident',
  'HV103': 'Slept last night',
  'HV104': 'Sex of household member',
  'HV105': 'Age of household members',
  'HV106': 'Highest educational level',
  'HV107': 'Highest year of education',
  'HV108': 'Education in single years',
  'HV109': 'Educational attainment',
  'HV110': 'Member still in school',
  'HV111': 'Mother alive',
  'HV112': "Mother's line number",
  'HV113': 'Father alive',
  'HV114': "Father's line number",
  'HV115': 'Current marital status',
  'HV116': 'Currently, formerly, never m.',
  'HV117': 'Eligibility for female interview',
  'HV118': 'Eligibility for male interview',
  'HV120': 'Children eligibility for height/weight and hemoglobin',
  'HV121': 'Member attended school during current school year',
  'HV122': 'Educational level during current school year',
  'HV123': 'Grade of education during current school year',
  'HV124': 'Education in single years - current school year',
  'HV125': 'Member attended school during previous school year',
  'HV126': 'Educational level during previous school year',
  'HV127': 'Grade of education during previous school year',
  'HV128': 'Education in single years - previous school year',
  'HV129': 'School attendance status',
  'HV130': 'Member has been very sick for 3+ months last year',
  'HV131': 'Mother has been very sick for 3+ months last year',
  'HV132': 'Father has been very sick for 3+ months last year',
  'HV133': 'Mother/father dead or been very sick for 3+ months',
  'HV134': 'Both parents alive',
  'HV135': 'Has brothers/sisters under 18 of the same father and mother',
  'HV136': "Brothers/sisters under 18 that don't live in household",
  'HV137': 'Member has a blanket',
  'HV138': 'Member has a pair of shoes',
  'HV139': 'Member has 2+ sets of clothes',
  'HV140': 'Member has a birth certificate',
  'QH13A1': 'Limitacion permanente para moverse',
  'QH13A2': 'Limitacion permanente para ver',
  'QH13A3': 'Limitacion permanente para oir',
  'QH13A4': 'Limitacion permanente para hablar',
  'QH13A5': 'Limitacion permanente para entender',
  'QH13A6': 'Limitacion permanenete para relacionarse'},
 'vars_and_labels': {'HV101': {1.0: 'Head',
   2.0: 'Wife or husband',
   3.0: 'Son/daughter',
   4.0: 'Son/daughter-in-law',
   5.0: 'Grandchild',
   6.0: 'Parent',
   7.0: 'Parent-in-law',
   8.0: 'Brother/sister',
   9.0: 'Co-spouse',
   10.0: 'Other relative',
   11.0: 'Adopted/foster child',
   12.0: 'Not related',
   13.0: 'Niece/nehew by blood',
   14.0: 'Niece/nephew by marriage',
   15.0: 'Maid',
   98.0: 'DK'},
  'HV102': {0.0: 'No', 1.0: 'Yes'},
  'HV103': {0.0: 'No', 1.0: 'Yes'},
  'HV104': {1.0: 'Male', 2.0: 'Female'},
  'HV105': {97.0: '97+', 98.0: 'DK'},
  'HV106': {0.0: 'No education, preschool',
   1.0: 'Primary',
   2.0: 'Secondary',
   3.0: 'Higher',
   8.0: 'DK'},
  'HV107': {98.0: 'DK'},
  'HV108': {97.0: 'Inconsistent', 98.0: 'DK'},
  'HV109': {0.0: 'No education',
   1.0: 'Incomplete primary',
   2.0: 'Complete primary',
   3.0: 'Incomplete secondary',
   4.0: 'Complete secondary',
   5.0: 'Higher',
   8.0: 'DK'},
  'HV110': {0.0: 'No', 1.0: 'Yes'},
  'HV111': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV112': {0.0: 'Mother not in HH'},
  'HV113': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV114': {0.0: 'Father not in HH'},
  'HV115': {0.0: 'Never married',
   1.0: 'Married',
   2.0: 'Living together',
   3.0: 'Widowed',
   4.0: 'Divorced',
   5.0: 'Not living together'},
  'HV116': {0.0: 'Never married',
   1.0: 'Currently married',
   2.0: 'Formerly/ever marr.'},
  'HV117': {0.0: 'Not eligible', 1.0: 'Eligible'},
  'HV118': {0.0: 'Not eligible', 1.0: 'Eligible'},
  'HV120': {0.0: 'Not eligible', 1.0: 'Eligible'},
  'HV121': {0.0: 'No',
   1.0: 'Currently attending',
   2.0: 'Attended at some time'},
  'HV122': {0.0: 'No education, preschool',
   1.0: 'Primary',
   2.0: 'Secondary',
   3.0: 'Higher',
   8.0: 'DK'},
  'HV123': {98.0: 'DK'},
  'HV124': {97.0: 'Inconsistent', 98.0: 'DK'},
  'HV125': {0.0: 'No', 1.0: 'Yes'},
  'HV126': {0.0: 'No education, preschool',
   1.0: 'Primary',
   2.0: 'Secondary',
   3.0: 'Higher',
   8.0: 'DK'},
  'HV127': {98.0: 'DK'},
  'HV128': {97.0: 'Inconsistent', 98.0: 'DK'},
  'HV129': {0.0: 'Never attended',
   1.0: 'Entered school',
   2.0: 'Advanced',
   3.0: 'Repeating',
   4.0: 'Dropout',
   5.0: 'Left school 2+ years ago',
   8.0: 'DK'},
  'HV130': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV131': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV132': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV133': {0.0: 'No', 1.0: 'Yes'},
  'HV134': {0.0: 'No', 1.0: 'Yes'},
  'HV135': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV136': {0.0: 'No', 1.0: 'Yes'},
  'HV137': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV138': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV139': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
  'HV140': {0.0: 'Neither certificate or registered',
   1.0: 'Has certificate',
   2.0: 'Registered',
   8.0: 'DK'},
  'QH13A1': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
  'QH13A2': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
  'QH13A3': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
  'QH13A4': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
  'QH13A5': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
  'QH13A6': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'}}}

2. Import all the RECH1.SAV files from all the subfolder located in this folder. `Diplomado_PUCP/_data/endes`

Doing one by one

In [11]:
import numpy as np

np.arange(2015, 2020)

df2015 = pd.read_spss('../_data/endes/2015/RECH1.SAV')

df2015.loc[ :, 'year_sample'] = 2015

df2016 = pd.read_spss('../_data/endes/2016/RECH1.SAV')

df2016.loc[ :, 'year_sample'] = 2016

df2017 = pd.read_spss('../_data/endes/2017/RECH1.SAV')

df2017.loc[ :, 'year_sample'] = 2017

In [12]:
# append data
df_app = pd.concat([df2015, df2016, df2017]) # por default appendea (uno debajo de otro)

Using a loop

In [13]:
import pandas as pd

years = np.arange(2015, 2020)
dfs = []

for year in years:
    file_path = f'../_data/endes/{year}/RECH1.SAV'  # definimos la ruta (que irá cambiando año a año)
    df = pd.read_spss(file_path) # se lee el archivo
    df['year_sample'] = year # se añade una columna con el año
    dfs.append(df) # se coloca cada base debajo de la otra

# Concatenate the DataFrames for different years into a single DataFrame, para cada año es una lista
result_df = pd.concat(dfs, ignore_index=False)

In [14]:
dfs # lista de data frames

[                   HHID  HVIDX            HV101 HV102 HV103   HV104 HV105  \
 0             000104301    3.0     Son/daughter   Yes   Yes    Male   2.0
 1             000207901    5.0     Son/daughter   Yes   Yes    Male   0.0
 2             000211901    4.0     Son/daughter   Yes   Yes    Male   3.0
 3             000213001    5.0   Other relative   Yes   Yes    Male   2.0
 4             000218601    2.0     Son/daughter   Yes   Yes    Male   3.0
 ...                 ...    ...              ...   ...   ...     ...   ...
 151262        157921501    6.0   Other relative   Yes   Yes  Female  81.0
 151263        316602101   12.0    Parent-in-law   Yes   Yes  Female  80.0
 151264        316911501    1.0             Head   Yes   Yes  Female  86.0
 151265        317203201    2.0  Wife or husband   Yes   Yes  Female  80.0
 151266        317406201    2.0           Parent   Yes   Yes  Female  81.0

                           HV106 HV107 HV108  ... HV138 HV139 HV140 QH13A1  \
 0       No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 1       No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 2       No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 3       No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 4       No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 ...                         ...   ...   ...  ...   ...   ...   ...    ...
 151262                  Primary   3.0   3.0  ...   NaN   NaN   NaN     No
 151263  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 151264                  Primary   5.0   5.0  ...   NaN   NaN   NaN     No
 151265  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 151266  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No

        QH13A2 QH13A3 QH13A4 QH13A5 QH13A6 year_sample
 0          No     No     No     No     No        2015
 1          No     No     No     No     No        2015
 2          No     No     No     No     No        2015
 3          No     No     No     No     No        2015
 4          No     No     No     No     No        2015
 ...       ...    ...    ...    ...    ...         ...
 151262     No     No     No     No     No        2015
 151263     No     No     No     No     No        2015
 151264     No     No     No     No     No        2015
 151265     No     No     No     No     No        2015
 151266     No     No     No     No     No        2015

 [151267 rows x 48 columns],
                    HHID  HVIDX            HV101 HV102 HV103   HV104 HV105  \
 0             000100301    1.0             Head   Yes   Yes    Male  34.0
 1             000100301    2.0  Wife or husband   Yes   Yes  Female  33.0
 2             000100301    3.0     Son/daughter   Yes   Yes    Male   2.0
 3             000102801    1.0             Head   Yes   Yes  Female  36.0
 4             000102801    2.0     Son/daughter   Yes   Yes  Female  18.0
 ...                 ...    ...              ...   ...   ...     ...   ...
 142001        317501601    3.0     Son/daughter   Yes   Yes  Female  10.0
 142002        317501601    4.0     Son/daughter   Yes   Yes  Female   4.0
 142003        317501801    1.0             Head   Yes   Yes    Male  48.0
 142004        317501801    2.0  Wife or husband   Yes   Yes  Female  45.0
 142005        317501801    3.0     Son/daughter   Yes   Yes  Female   8.0

                           HV106 HV107 HV108  ... HV138 HV139 HV140 QH13A1  \
 0                        Higher   3.0  14.0  ...   NaN   NaN   NaN     No
 1                     Secondary   5.0  11.0  ...   NaN   NaN   NaN     No
 2       No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 3                       Primary   3.0   3.0  ...   NaN   NaN   NaN     No
 4                        Higher   1.0  12.0  ...   NaN   NaN   NaN     No
 ...                         ...   ...   ...  ...   ...   ...   ...    ...
 142001                  Primary   4.0   4.0  ...   NaN   NaN   NaN     No
 142002  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 142003                Secondary   5.0  11.0  ...   NaN   NaN   NaN     No
 142004  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 142005                  Primary   1.0   1.0  ...   NaN   NaN   NaN     No

        QH13A2 QH13A3 QH13A4 QH13A5 QH13A6 year_sample
 0          No     No     No     No     No        2016
 1          No     No     No     No     No        2016
 2          No     No     No     No     No        2016
 3          No     No     No     No     No        2016
 4          No     No     No     No     No        2016
 ...       ...    ...    ...    ...    ...         ...
 142001     No     No     No     No     No        2016
 142002     No     No     No     No     No        2016
 142003     No     No     No     No     No        2016
 142004     No     No     No     No     No        2016
 142005     No     No     No     No     No        2016

 [142006 rows x 48 columns],
                    HHID  HVIDX            HV101 HV102 HV103   HV104 HV105  \
 0             000101401    1.0             Head   Yes   Yes  Female  52.0
 1             000101401    2.0     Son/daughter   Yes   Yes  Female  14.0
 2             000101401    3.0     Son/daughter   Yes   Yes  Female   9.0
 3             000101401    4.0     Son/daughter   Yes   Yes    Male   3.0
 4             000102501    1.0             Head   Yes   Yes    Male  36.0
 ...                 ...    ...              ...   ...   ...     ...   ...
 140593        317510701    1.0             Head   Yes   Yes    Male  31.0
 140594        317510701    2.0  Wife or husband   Yes   Yes  Female  29.0
 140595        317510701    3.0     Son/daughter   Yes   Yes    Male   5.0
 140596        317510701    4.0     Son/daughter   Yes   Yes  Female   4.0
 140597        317510701    5.0     Son/daughter   Yes   Yes  Female   0.0

                           HV106 HV107 HV108  ... HV138 HV139 HV140 QH13A1  \
 0                       Primary   2.0   2.0  ...   NaN   NaN   NaN     No
 1                       Primary   5.0   5.0  ...   NaN   NaN   NaN     No
 2                       Primary   2.0   2.0  ...   NaN   NaN   NaN     No
 3       No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 4                       Primary   6.0   6.0  ...   NaN   NaN   NaN     No
 ...                         ...   ...   ...  ...   ...   ...   ...    ...
 140593                  Primary   5.0   5.0  ...   NaN   NaN   NaN     No
 140594  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 140595  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 140596  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No
 140597  No education, preschool   NaN   0.0  ...   NaN   NaN   NaN     No

        QH13A2 QH13A3 QH13A4 QH13A5 QH13A6 year_sample
 0          No     No     No     No     No        2017
 1          No     No     No     No     No        2017
 2          No     No     No     No     No        2017
 3          No     No     No     No     No        2017
 4          No     No     No     No     No        2017
 ...       ...    ...    ...    ...    ...         ...
 140593     No     No     No     No     No        2017
 140594     No     No     No     No     No        2017
 140595     No     No     No     No     No        2017
 140596     No     No     No     No     No        2017
 140597     No     No     No     No     No        2017

 [140598 rows x 48 columns],
                    HHID  HVIDX            HV101 HV102 HV103   HV104 HV105  \
 0             000100701    1.0             Jefe    Si    Si  Hombre  46.0
 1             000100701    2.0  Esposa o esposo    Si    Si   Mujer  42.0
 2             000100701    3.0        Hijo/hija    Si    Si   Mujer  16.0
 3             000100701    4.0        Hijo/hija    Si    Si  Hombre  13.0
 4             000100701    5.0        Hijo/hija    Si    Si  Hombre   8.0
 ...                 ...    ...              ...   ...   ...     ...   ...
 147624        325406101    2.0  Esposa o esposo    Si    Si   Mujer  30.0
 147625        325406101    3.0        Hijo/hija    Si    Si   Mujer   4.0
 147626        325406101    4.0        Hijo/hija    Si    Si   Mujer   1.0
 147627        325406101    5.0    Hijo adoptivo    Si    Si  Hombre  15.0
 147628        325406101    6.0    Hijo adoptivo    Si    Si   Mujer  11.0

                      HV106 HV107 HV108  ...               HV126 HV127 HV128  \
 0                 Primaria   6.0   6.0  ...  Sin nivel, inicial   NaN   0.0
 1                 Primaria   4.0   4.0  ...  Sin nivel, inicial   NaN   0.0
 2               Secundaria   4.0  10.0  ...          Secundaria   4.0  10.0
 3               Secundaria   1.0   7.0  ...          Secundaria   1.0   7.0
 4                 Primaria   2.0   2.0  ...            Primaria   2.0   2.0
 ...                    ...   ...   ...  ...                 ...   ...   ...
 147624          Secundaria   4.0  10.0  ...  Sin nivel, inicial   NaN   0.0
 147625  Sin nivel, inicial   NaN   0.0  ...  Sin nivel, inicial   NaN   0.0
 147626  Sin nivel, inicial   NaN   0.0  ...  Sin nivel, inicial   NaN   0.0
 147627            Primaria   6.0   6.0  ...            Primaria   6.0   6.0
 147628            Primaria   4.0   4.0  ...            Primaria   4.0   4.0

            HV129      QH25A QH25B QH25CM QH25CA QH21A year_sample
 0            NaN              NaN    NaN    NaN   NaN        2018
 1            NaN              NaN    NaN    NaN   NaN        2018
 2       Avanzado              NaN    NaN    NaN   NaN        2018
 3       Avanzado              NaN    NaN    NaN   NaN        2018
 4       Avanzado              NaN    NaN    NaN    Si        2018
 ...          ...        ...   ...    ...    ...   ...         ...
 147624       NaN  PERUANA/O   NaN    NaN    NaN   NaN        2018
 147625       NaN  PERUANA/O   NaN    NaN    NaN    Si        2018
 147626       NaN  PERUANA/O   NaN    NaN    NaN   NaN        2018
 147627  Avanzado  PERUANA/O   NaN    NaN    NaN   NaN        2018
 147628  Avanzado  PERUANA/O   NaN    NaN    NaN    Si        2018

 [147629 rows x 36 columns],
            ID1             HHID  HVIDX            HV101 HV102 HV103   HV104  \
 0       2019.0        000100201    1.0   Jefe del Hogar    Sí    No  Hombre
 1       2019.0        000100201    2.0  Esposa o esposo    Sí    Sí   Mujer
 2       2019.0        000100201    3.0        Hijo/Hija    Sí    Sí   Mujer
 3       2019.0        000100201    4.0        Hijo/Hija    Sí    Sí  Hombre
 4       2019.0        000102801    1.0   Jefe del Hogar    Sí    No  Hombre
 ...        ...              ...    ...              ...   ...   ...     ...
 143481  2019.0        325407201    3.0        Hijo/Hija    Sí    Sí  Hombre
 143482  2019.0        325407301    1.0   Jefe del Hogar    Sí    Sí  Hombre
 143483  2019.0        325407401    1.0   Jefe del Hogar    Sí    Sí  Hombre
 143484  2019.0        325407401    2.0  Esposa o esposo    Sí    Sí   Mujer
 143485  2019.0        325407401    3.0        Hijo/Hija    Sí    Sí  Hombre

        HV105                      HV106 HV107  ...                      HV126  \
 0       43.0                 Secundario   5.0  ...  Sin educación, preescolar
 1       33.0                   Superior   5.0  ...  Sin educación, preescolar
 2       12.0                   Primario   6.0  ...                   Primario
 3        0.0  Sin educación, preescolar   NaN  ...  Sin educación, preescolar
 4       28.0                   Superior   3.0  ...  Sin educación, preescolar
 ...      ...                        ...   ...  ...                        ...
 143481   9.0                   Primario   3.0  ...                   Primario
 143482  35.0                   Superior   2.0  ...  Sin educación, preescolar
 143483  24.0                 Secundario   5.0  ...  Sin educación, preescolar
 143484  23.0                 Secundario   3.0  ...  Sin educación, preescolar
 143485   4.0  Sin educación, preescolar   NaN  ...  Sin educación, preescolar

        HV127 HV128                           HV129 QH21A    QH25A QH25B  \
 0        NaN   0.0                             NaN   NaN  PERUANA   NaN
 1        NaN   0.0                             NaN   NaN  PERUANA   NaN
 2        6.0   6.0                        Avanzado   NaN  PERUANA   NaN
 3        NaN   0.0                             NaN   NaN  PERUANA   NaN
 4        NaN   0.0                             NaN   NaN  PERUANA   NaN
 ...      ...   ...                             ...   ...      ...   ...
 143481   3.0   3.0                        Avanzado    No  PERUANA   NaN
 143482   NaN   0.0                             NaN   NaN  PERUANA   NaN
 143483   NaN   0.0  Izquierda escuela hace 2+ años   NaN  PERUANA   NaN
 143484   NaN   0.0  Izquierda escuela hace 2+ años   NaN  PERUANA   NaN
 143485   NaN   0.0                             NaN    No  PERUANA   NaN

        QH25CM QH25CA year_sample
 0         NaN    NaN        2019
 1         NaN    NaN        2019
 2         NaN    NaN        2019
 3         NaN    NaN        2019
 4         NaN    NaN        2019
 ...       ...    ...         ...
 143481    NaN    NaN        2019
 143482    NaN    NaN        2019
 143483    NaN    NaN        2019
 143484    NaN    NaN        2019
 143485    NaN    NaN        2019

 [143486 rows x 37 columns]]

In [15]:
result_df

,HHID,HVIDX,HV101,HV102,HV103,HV104,HV105,HV106,HV107,HV108,...,QH13A4,QH13A5,QH13A6,year_sample,QH25A,QH25B,QH25CM,QH25CA,QH21A,ID1
0,000104301,3.0,Son/daughter,Yes,Yes,Male,2.0,"No education, preschool",NaN,0.0,...,No,No,No,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,000207901,5.0,Son/daughter,Yes,Yes,Male,0.0,"No education, preschool",NaN,0.0,...,No,No,No,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,000211901,4.0,Son/daughter,Yes,Yes,Male,3.0,"No education, preschool",NaN,0.0,...,No,No,No,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,000213001,5.0,Other relative,Yes,Yes,Male,2.0,"No education, preschool",NaN,0.0,...,No,No,No,2015,NaN,NaN,NaN,NaN,NaN,NaN
4,000218601,2.0,Son/daughter,Yes,Yes,Male,3.0,"No education, preschool",NaN,0.0,...,No,No,No,2015,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143481,325407201,3.0,Hijo/Hija,Sí,Sí,Hombre,9.0,Primario,3.0,3.0,...,NaN,NaN,NaN,2019,PERUANA,NaN,NaN,NaN,No,2019.0
143482,325407301,1.0,Jefe del Hogar,Sí,Sí,Hombre,35.0,Superior,2.0,13.0,...,NaN,NaN,NaN,2019,PERUANA,NaN,NaN,NaN,NaN,2019.0
143483,325407401,1.0,Jefe del Hogar,Sí,Sí,Hombre,24.0,Secundario,5.0,11.0,...,NaN,NaN,NaN,2019,PERUANA,NaN,NaN,NaN,NaN,2019.0
143484,325407401,2.0,Esposa o esposo,Sí,Sí,Mujer,23.0,Secundario,3.0,9.0,...,NaN,NaN,NaN,2019,PERUANA,NaN,NaN,NaN,NaN,2019.0
143485,325407401,3.0,Hijo/Hija,Sí,Sí,Hombre,4.0,"Sin educación, preescolar",NaN,0.0,...,NaN,NaN,NaN,2019,PERUANA,NaN,NaN,NaN,No,2019.0

1. We have data `MotherData.csv` excerpted from a recent Demographic and Health Survey.  First convert the dataset from `wide` (each observation is a mother) to `long` (each observation is a birth, with associated mother id). The id `caseid` identifies uniquely all the mothers.  These columns refer to variable of children **['bidx', 'bord', 'b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b10', 'b11', 'b12', 'b13', 'b15', 'b16']** and have new columns for all their children. We have information for 20 children. It starts from last child to oldest one. Use for loops to reshape this dataset from `wide` to `long` ate mother and children level. If you want to get more information from the columns please see [this pdf](http://www.dhsprogram.com/pubs/pdf/DHSG4/Recode6_DHS_22March2013_DHSG4.pdf).

Max number of children is 20. We want data at mother, child level. From children, we only want month (b1) and year (b2) of birth (b4), and sex and have data

In [16]:
df_mother = pd.read_csv('../_data/MotherData.csv')

C:\Users\jesus\AppData\Local\Temp\ipykernel_26436\1107978888.py:1: DtypeWarning: Columns (67,128,129,130,131,132,133,208,209,210,211,212,213,228,229,230,231,232,233,240,241,245,247,248,249,250,308,309,310,311,312,313,328,329,330,331,332,333,387,388,389,390,391,392,407,408,409,410,411,412,426,428,429,430,431,433) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mother = pd.read_csv('../_data/MotherData.csv')

In [17]:
df_mother.caseid.is_unique

True

In [18]:
df_mother

,caseid,v000,v001,v002,v003,v004,v005,v006,v007,v008,...,v214,v218,v219,v220,v222,v223,v224,v235,v237,v238
0,1 1 2,NG6,1,1,2,1,700223,11,2010,1331,...,NaN,7,7,6+,8.0,NaN,7,1,no,1
1,1 1 3,NG6,1,1,3,1,700223,11,2010,1331,...,NaN,0,0,0,NaN,NaN,0,no prior child,NaN,0
2,1 2 2,NG6,1,2,2,1,700223,11,2010,1331,...,NaN,6,6,6+,21.0,NaN,6,1,no,1
3,1 3 3,NG6,1,3,3,1,700223,11,2010,1331,...,4.0,2,3,3,38.0,month - exact date,2,1,no,0
4,1 4 2,NG6,1,4,2,1,700223,11,2010,1331,...,NaN,4,4,4,10.0,NaN,4,1,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6339,240 21 2,NG6,240,21,2,240,1336359,12,2010,1332,...,NaN,1,1,1,23.0,NaN,1,1,no,1
6340,240 22 2,NG6,240,22,2,240,1336359,12,2010,1332,...,NaN,3,3,3,12.0,NaN,4,1,no,1
6341,240 23 2,NG6,240,23,2,240,1336359,12,2010,1332,...,NaN,0,0,0,42.0,NaN,1,1,no,0
6342,240 24 2,NG6,240,24,2,240,1336359,12,2010,1332,...,NaN,4,4,4,2.0,NaN,4,1,no,1
6343,240 26 3,NG6,240,26,3,240,1336359,12,2010,1332,...,NaN,0,0,0,NaN,NaN,0,no prior child,NaN,0

In [19]:
df_mother.columns.to_list()

['caseid',
 'v000',
 'v001',
 'v002',
 'v003',
 'v004',
 'v005',
 'v006',
 'v007',
 'v008',
 'v009',
 'v010',
 'v011',
 'v012',
 'v013',
 'v014',
 'v015',
 'v016',
 'v017',
 'v018',
 'v019',
 'v019a',
 'v020',
 'v021',
 'v022',
 'v023',
 'v024',
 'v025',
 'v026',
 'v027',
 'v028',
 'v029',
 'v030',
 'v031',
 'v032',
 'v034',
 'v040',
 'v042',
 'v101',
 'v102',
 'v103',
 'v104',
 'v105',
 'v106',
 'v107',
 'v113',
 'v116',
 'v119',
 'v120',
 'v121',
 'v122',
 'v123',
 'v124',
 'v125',
 'v127',
 'v128',
 'v129',
 'v130',
 'v131',
 'v133',
 'v134',
 'v135',
 'v136',
 'v137',
 'v138',
 'v139',
 'v140',
 'v141',
 'v149',
 'v150',
 'v151',
 'v152',
 'v153',
 'v155',
 'v161',
 'v190',
 'v191',
 'ml101',
 'bidx_01',
 'bidx_02',
 'bidx_03',
 'bidx_04',
 'bidx_05',
 'bidx_06',
 'bidx_07',
 'bidx_08',
 'bidx_09',
 'bidx_10',
 'bidx_11',
 'bidx_12',
 'bidx_13',
 'bidx_14',
 'bidx_15',
 'bidx_16',
 'bidx_17',
 'bidx_18',
 'bidx_19',
 'bidx_20',
 'bord_01',
 'bord_02',
 'bord_03',
 'bord_04',
 'bord_05',
 'bord_06',
 'bord_07',
 'bord_08',
 'bord_09',
 'bord_10',
 'bord_11',
 'bord_12',
 'bord_13',
 'bord_14',
 'bord_15',
 'bord_16',
 'bord_17',
 'bord_18',
 'bord_19',
 'bord_20',
 'b0_01',
 'b0_02',
 'b0_03',
 'b0_04',
 'b0_05',
 'b0_06',
 'b0_07',
 'b0_08',
 'b0_09',
 'b0_10',
 'b0_11',
 'b0_12',
 'b0_13',
 'b0_14',
 'b0_15',
 'b0_16',
 'b0_17',
 'b0_18',
 'b0_19',
 'b0_20',
 'b1_01',
 'b1_02',
 'b1_03',
 'b1_04',
 'b1_05',
 'b1_06',
 'b1_07',
 'b1_08',
 'b1_09',
 'b1_10',
 'b1_11',
 'b1_12',
 'b1_13',
 'b1_14',
 'b1_15',
 'b1_16',
 'b1_17',
 'b1_18',
 'b1_19',
 'b1_20',
 'b2_01',
 'b2_02',
 'b2_03',
 'b2_04',
 'b2_05',
 'b2_06',
 'b2_07',
 'b2_08',
 'b2_09',
 'b2_10',
 'b2_11',
 'b2_12',
 'b2_13',
 'b2_14',
 'b2_15',
 'b2_16',
 'b2_17',
 'b2_18',
 'b2_19',
 'b2_20',
 'b3_01',
 'b3_02',
 'b3_03',
 'b3_04',
 'b3_05',
 'b3_06',
 'b3_07',
 'b3_08',
 'b3_09',
 'b3_10',
 'b3_11',
 'b3_12',
 'b3_13',
 'b3_14',
 'b3_15',
 'b3_16',
 'b3_17',
 'b3_18',
 'b3_19',
 'b3_20',
 'b4_01',
 'b4_02',
 'b4_03',
 'b4_04',
 'b4_05',
 'b4_06',
 'b4_07',
 'b4_08',
 'b4_09',
 'b4_10',
 'b4_11',
 'b4_12',
 'b4_13',
 'b4_14',
 'b4_15',
 'b4_16',
 'b4_17',
 'b4_18',
 'b4_19',
 'b4_20',
 'b5_01',
 'b5_02',
 'b5_03',
 'b5_04',
 'b5_05',
 'b5_06',
 'b5_07',
 'b5_08',
 'b5_09',
 'b5_10',
 'b5_11',
 'b5_12',
 'b5_13',
 'b5_14',
 'b5_15',
 'b5_16',
 'b5_17',
 'b5_18',
 'b5_19',
 'b5_20',
 'b6_01',
 'b6_02',
 'b6_03',
 'b6_04',
 'b6_05',
 'b6_06',
 'b6_07',
 'b6_08',
 'b6_09',
 'b6_10',
 'b6_11',
 'b6_12',
 'b6_13',
 'b6_14',
 'b6_15',
 'b6_16',
 'b6_17',
 'b6_18',
 'b6_19',
 'b6_20',
 'b7_01',
 'b7_02',
 'b7_03',
 'b7_04',
 'b7_05',
 'b7_06',
 'b7_07',
 'b7_08',
 'b7_09',
 'b7_10',
 'b7_11',
 'b7_12',
 'b7_13',
 'b7_14',
 'b7_15',
 'b7_16',
 'b7_17',
 'b7_18',
 'b7_19',
 'b7_20',
 'b8_01',
 'b8_02',
 'b8_03',
 'b8_04',
 'b8_05',
 'b8_06',
 'b8_07',
 'b8_08',
 'b8_09',
 'b8_10',
 'b8_11',
 'b8_12',
 'b8_13',
 'b8_14',
 'b8_15',
 'b8_16',
 'b8_17',
 'b8_18',
 'b8_19',
 'b8_20',
 'b9_01',
 'b9_02',
 'b9_03',
 'b9_04',
 'b9_05',
 'b9_06',
 'b9_07',
 'b9_08',
 'b9_09',
 'b9_10',
 'b9_11',
 'b9_12',
 'b9_13',
 'b9_14',
 'b9_15',
 'b9_16',
 'b9_17',
 'b9_18',
 'b9_19',
 'b9_20',
 'b10_01',
 'b10_02',
 'b10_03',
 'b10_04',
 'b10_05',
 'b10_06',
 'b10_07',
 'b10_08',
 'b10_09',
 'b10_10',
 'b10_11',
 'b10_12',
 'b10_13',
 'b10_14',
 'b10_15',
 'b10_16',
 'b10_17',
 'b10_18',
 'b10_19',
 'b10_20',
 'b11_01',
 'b11_02',
 'b11_03',
 'b11_04',
 'b11_05',
 'b11_06',
 'b11_07',
 'b11_08',
 'b11_09',
 'b11_10',
 'b11_11',
 'b11_12',
 'b11_13',
 'b11_14',
 'b11_15',
 'b11_16',
 'b11_17',
 'b11_18',
 'b11_19',
 'b11_20',
 'b12_01',
 'b12_02',
 'b12_03',
 'b12_04',
 'b12_05',
 'b12_06',
 'b12_07',
 'b12_08',
 'b12_09',
 'b12_10',
 'b12_11',
 'b12_12',
 'b12_13',
 'b12_14',
 'b12_15',
 'b12_16',
 'b12_17',
 'b12_18',
 'b12_19',
 'b12_20',
 'b13_01',
 'b13_02',
 'b13_03',
 'b13_04',
 'b13_05',
 'b13_06',
 'b13_07',
 'b13_08',
 'b13_09',
 'b13_10',
 'b13_11',
 'b13_12',
 'b13_13',
 'b13_14',
 'b13_15',
 'b13_16',
 'b13_17',
 'b13_18',
 'b13_19',
 'b13_20',
 'b15_01',
 'b15_02',
 'b15_03',
 'b15_04',
 'b15_05',
 'b15_06',
 'b15_07',
 'b15_08',
 'b15_09',
 'b15_10',
 'b15_11',
 'b15_12',
 'b15_13',
 'b15_14',
 'b15_15',
 'b15_16',
 'b15_17',
 'b15_18',
 'b15_19',
 'b15_20',
 'b16_01',
 'b16_02',
 'b16_03',
 'b16_04',
 'b16_05',
 'b16_06',
 'b16_07',
 'b16_08',
 'b16_09',
 'b16_10',
 'b16_11',
 'b16_12',
 'b16_13',
 'b16_14',
 'b16_15',
 'b16_16',
 'b16_17',
 'b16_18',
 'b16_19',
 'b16_20',
 'v201',
 'v202',
 'v203',
 'v204',
 'v205',
 'v206',
 'v207',
 'v208',
 'v209',
 'v210',
 'v211',
 'v212',
 'v213',
 'v214',
 'v218',
 'v219',
 'v220',
 'v222',
 'v223',
 'v224',
 'v235',
 'v237',
 'v238']

In [20]:
list(df_mother.iterrows()) # es una lista compuesta por muchas tuplas, conteniendo el número de fila y la información de dicha fila

[(0,
  caseid         1  1     2
  v000                  NG6
  v001                    1
  v002                    1
  v003                    2
                 ...
  v223                  NaN
  v224                    7
  v235                    1
  v237                   no
  v238                    1
  Name: 0, Length: 461, dtype: object),
 (1,
  caseid         1  1     3
  v000                  NG6
  v001                    1
  v002                    1
  v003                    3
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 1, Length: 461, dtype: object),
 (2,
  caseid         1  2     2
  v000                  NG6
  v001                    1
  v002                    2
  v003                    2
                 ...
  v223                  NaN
  v224                    6
  v235                    1
  v237                   no
  v238                    1
  Name: 2, Length: 461, dtype: object),
 (3,
  caseid            1  3     3
  v000                     NG6
  v001                       1
  v002                       3
  v003                       3
                   ...
  v223      month - exact date
  v224                       2
  v235                       1
  v237                      no
  v238                       0
  Name: 3, Length: 461, dtype: object),
 (4,
  caseid         1  4     2
  v000                  NG6
  v001                    1
  v002                    4
  v003                    2
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                   no
  v238                    1
  Name: 4, Length: 461, dtype: object),
 (5,
  caseid         1  5     3
  v000                  NG6
  v001                    1
  v002                    5
  v003                    3
                 ...
  v223                  NaN
  v224                    1
  v235                    1
  v237                   no
  v238                    1
  Name: 5, Length: 461, dtype: object),
 (6,
  caseid         1  6     2
  v000                  NG6
  v001                    1
  v002                    6
  v003                    2
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                   no
  v238                    1
  Name: 6, Length: 461, dtype: object),
 (7,
  caseid         1  7     2
  v000                  NG6
  v001                    1
  v002                    7
  v003                    2
                 ...
  v223                  NaN
  v224                    6
  v235                    1
  v237                   no
  v238                    1
  Name: 7, Length: 461, dtype: object),
 (8,
  caseid         1  8     2
  v000                  NG6
  v001                    1
  v002                    8
  v003                    2
                 ...
  v223                  NaN
  v224                    5
  v235                    1
  v237                   no
  v238                    0
  Name: 8, Length: 461, dtype: object),
 (9,
  caseid         1  8     3
  v000                  NG6
  v001                    1
  v002                    8
  v003                    3
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 9, Length: 461, dtype: object),
 (10,
  caseid         1  8     8
  v000                  NG6
  v001                    1
  v002                    8
  v003                    8
                 ...
  v223                  NaN
  v224                    3
  v235                    1
  v237                   no
  v238                    1
  Name: 10, Length: 461, dtype: object),
 (11,
  caseid            1  9     2
  v000                     NG6
  v001                       1
  v002                       9
  v003                       2
                   ...
  v223      month - exact date
  v224                       2
  v235                       1
  v237                      no
  v238                       1
  Name: 11, Length: 461, dtype: object),
 (12,
  caseid            1 10     2
  v000                     NG6
  v001                       1
  v002                      10
  v003                       2
                   ...
  v223      month - exact date
  v224                       4
  v235                       1
  v237                      no
  v238                       1
  Name: 12, Length: 461, dtype: object),
 (13,
  caseid         1 10     9
  v000                  NG6
  v001                    1
  v002                   10
  v003                    9
                 ...
  v223                  NaN
  v224                    7
  v235                    1
  v237                   no
  v238                    0
  Name: 13, Length: 461, dtype: object),
 (14,
  caseid            1 11     2
  v000                     NG6
  v001                       1
  v002                      11
  v003                       2
                   ...
  v223      month - exact date
  v224                       4
  v235                       1
  v237                      no
  v238                       0
  Name: 14, Length: 461, dtype: object),
 (15,
  caseid         1 13     3
  v000                  NG6
  v001                    1
  v002                   13
  v003                    3
                 ...
  v223                  NaN
  v224                    1
  v235                    1
  v237                   no
  v238                    1
  Name: 15, Length: 461, dtype: object),
 (16,
  caseid         1 13     4
  v000                  NG6
  v001                    1
  v002                   13
  v003                    4
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                  yes
  v238                    0
  Name: 16, Length: 461, dtype: object),
 (17,
  caseid         1 14     2
  v000                  NG6
  v001                    1
  v002                   14
  v003                    2
                 ...
  v223                  NaN
  v224                    2
  v235                    1
  v237                   no
  v238                    1
  Name: 17, Length: 461, dtype: object),
 (18,
  caseid            1 15     5
  v000                     NG6
  v001                       1
  v002                      15
  v003                       5
                   ...
  v223      month - exact date
  v224                       1
  v235                       1
  v237                      no
  v238                       0
  Name: 18, Length: 461, dtype: object),
 (19,
  caseid            1 16     2
  v000                     NG6
  v001                       1
  v002                      16
  v003                       2
                   ...
  v223      month - exact date
  v224                       7
  v235                       1
  v237                      no
  v238                       0
  Name: 19, Length: 461, dtype: object),
 (20,
  caseid         1 16    10
  v000                  NG6
  v001                    1
  v002                   16
  v003                   10
                 ...
  v223                  NaN
  v224                    5
  v235                    1
  v237                   no
  v238                    1
  Name: 20, Length: 461, dtype: object),
 (21,
  caseid         1 17     2
  v000                  NG6
  v001                    1
  v002                   17
  v003                    2
                 ...
  v223                  NaN
  v224                    2
  v235                    1
  v237                   no
  v238                    1
  Name: 21, Length: 461, dtype: object),
 (22,
  caseid         1 18     2
  v000                  NG6
  v001                    1
  v002                   18
  v003                    2
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                   no
  v238                    2
  Name: 22, Length: 461, dtype: object),
 (23,
  caseid         1 19     2
  v000                  NG6
  v001                    1
  v002                   19
  v003                    2
                 ...
  v223                  NaN
  v224                    3
  v235                    1
  v237                   no
  v238                    1
  Name: 23, Length: 461, dtype: object),
 (24,
  caseid         1 20     2
  v000                  NG6
  v001                    1
  v002                   20
  v003                    2
                 ...
  v223                  NaN
  v224                    3
  v235                    1
  v237                   no
  v238                    1
  Name: 24, Length: 461, dtype: object),
 (25,
  caseid         1 21     1
  v000                  NG6
  v001                    1
  v002                   21
  v003                    1
                 ...
  v223                  NaN
  v224                    8
  v235                    1
  v237                   no
  v238                    0
  Name: 25, Length: 461, dtype: object),
 (26,
  caseid         1 22     3
  v000                  NG6
  v001                    1
  v002                   22
  v003                    3
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                   no
  v238                    3
  Name: 26, Length: 461, dtype: object),
 (27,
  caseid         1 24     2
  v000                  NG6
  v001                    1
  v002                   24
  v003                    2
                 ...
  v223                  NaN
  v224                    6
  v235                    1
  v237                   no
  v238                    0
  Name: 27, Length: 461, dtype: object),
 (28,
  caseid            1 25     5
  v000                     NG6
  v001                       1
  v002                      25
  v003                       5
                   ...
  v223      month - exact date
  v224                       4
  v235                       1
  v237                      no
  v238                       1
  Name: 28, Length: 461, dtype: object),
 (29,
  caseid         2  1     7
  v000                  NG6
  v001                    2
  v002                    1
  v003                    7
                 ...
  v223                  NaN
  v224                    3
  v235                    1
  v237                   no
  v238                    1
  Name: 29, Length: 461, dtype: object),
 (30,
  caseid         2  2     2
  v000                  NG6
  v001                    2
  v002                    2
  v003                    2
                 ...
  v223                  NaN
  v224                    2
  v235                    1
  v237                   no
  v238                    0
  Name: 30, Length: 461, dtype: object),
 (31,
  caseid         2  3     2
  v000                  NG6
  v001                    2
  v002                    3
  v003                    2
                 ...
  v223                  NaN
  v224                    9
  v235                    1
  v237                   no
  v238                    2
  Name: 31, Length: 461, dtype: object),
 (32,
  caseid         2  3     3
  v000                  NG6
  v001                    2
  v002                    3
  v003                    3
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 32, Length: 461, dtype: object),
 (33,
  caseid         2  5     8
  v000                  NG6
  v001                    2
  v002                    5
  v003                    8
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                   no
  v238                    0
  Name: 33, Length: 461, dtype: object),
 (34,
  caseid         2  5    11
  v000                  NG6
  v001                    2
  v002                    5
  v003                   11
                 ...
  v223                  NaN
  v224                    1
  v235                    1
  v237                   no
  v238                    0
  Name: 34, Length: 461, dtype: object),
 (35,
  caseid         2  6     2
  v000                  NG6
  v001                    2
  v002                    6
  v003                    2
                 ...
  v223                  NaN
  v224                    5
  v235                    1
  v237                   no
  v238                    1
  Name: 35, Length: 461, dtype: object),
 (36,
  caseid            2  8     2
  v000                     NG6
  v001                       2
  v002                       8
  v003                       2
                   ...
  v223      month - exact date
  v224                       1
  v235                       1
  v237                      no
  v238                       1
  Name: 36, Length: 461, dtype: object),
 (37,
  caseid            2  9     2
  v000                     NG6
  v001                       2
  v002                       9
  v003                       2
                   ...
  v223      month - exact date
  v224                       1
  v235                       1
  v237                      no
  v238                       0
  Name: 37, Length: 461, dtype: object),
 (38,
  caseid         2 10     2
  v000                  NG6
  v001                    2
  v002                   10
  v003                    2
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 38, Length: 461, dtype: object),
 (39,
  caseid         2 11     2
  v000                  NG6
  v001                    2
  v002                   11
  v003                    2
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 39, Length: 461, dtype: object),
 (40,
  caseid         2 12     3
  v000                  NG6
  v001                    2
  v002                   12
  v003                    3
                 ...
  v223                  NaN
  v224                    1
  v235                    1
  v237                   no
  v238                    1
  Name: 40, Length: 461, dtype: object),
 (41,
  caseid         2 13     2
  v000                  NG6
  v001                    2
  v002                   13
  v003                    2
                 ...
  v223                  NaN
  v224                    6
  v235                    1
  v237                   no
  v238                    0
  Name: 41, Length: 461, dtype: object),
 (42,
  caseid            2 13    11
  v000                     NG6
  v001                       2
  v002                      13
  v003                      11
                   ...
  v223      month - exact date
  v224                       4
  v235                       1
  v237                      no
  v238                       1
  Name: 42, Length: 461, dtype: object),
 (43,
  caseid         2 15     3
  v000                  NG6
  v001                    2
  v002                   15
  v003                    3
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                   no
  v238                    1
  Name: 43, Length: 461, dtype: object),
 (44,
  caseid         2 15     4
  v000                  NG6
  v001                    2
  v002                   15
  v003                    4
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 44, Length: 461, dtype: object),
 (45,
  caseid         2 16     2
  v000                  NG6
  v001                    2
  v002                   16
  v003                    2
                 ...
  v223                  NaN
  v224                    1
  v235                    1
  v237                   no
  v238                    1
  Name: 45, Length: 461, dtype: object),
 (46,
  caseid         2 17     2
  v000                  NG6
  v001                    2
  v002                   17
  v003                    2
                 ...
  v223                  NaN
  v224                    6
  v235                    1
  v237                   no
  v238                    1
  Name: 46, Length: 461, dtype: object),
 (47,
  caseid         2 17     7
  v000                  NG6
  v001                    2
  v002                   17
  v003                    7
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 47, Length: 461, dtype: object),
 (48,
  caseid            2 18     2
  v000                     NG6
  v001                       2
  v002                      18
  v003                       2
                   ...
  v223      month - exact date
  v224                       4
  v235                       1
  v237                      no
  v238                       1
  Name: 48, Length: 461, dtype: object),
 (49,
  caseid         2 18     8
  v000                  NG6
  v001                    2
  v002                   18
  v003                    8
                 ...
  v223                  NaN
  v224                    0
  v235       no prior child
  v237                  NaN
  v238                    0
  Name: 49, Length: 461, dtype: object),
 (50,
  caseid            2 20     2
  v000                     NG6
  v001                       2
  v002                      20
  v003                       2
                   ...
  v223      month - exact date
  v224                       4
  v235                       1
  v237                      no
  v238                       1
  Name: 50, Length: 461, dtype: object),
 (51,
  caseid            2 21     2
  v000                     NG6
  v001                       2
  v002                      21
  v003                       2
                   ...
  v223      month - exact date
  v224                       1
  v235                       1
  v237                      no
  v238                       1
  Name: 51, Length: 461, dtype: object),
 (52,
  caseid         2 22     1
  v000                  NG6
  v001                    2
  v002                   22
  v003                    1
                 ...
  v223                  NaN
  v224                    2
  v235                    1
  v237                   no
  v238                    0
  Name: 52, Length: 461, dtype: object),
 (53,
  caseid         2 23     1
  v000                  NG6
  v001                    2
  v002                   23
  v003                    1
                 ...
  v223                  NaN
  v224                    1
  v235                    1
  v237                   no
  v238                    0
  Name: 53, Length: 461, dtype: object),
 (54,
  caseid         2 24     1
  v000                  NG6
  v001                    2
  v002                   24
  v003                    1
                 ...
  v223                  NaN
  v224                    4
  v235                    1
  v237                   no
  v238                    1
  Name: 54, Length: 461, dtype: object),
 (55,
  caseid         2 26     2
  v000                  NG6
  v001                    2
  v002                   26
  v003                    2
                 ...
  v223                  NaN
  v224                    5
  v235                    1
  v237                   no
  v238                    1
  Name: 55, Length: 461, dtype: object),
 (56,
  caseid            3  2     3
  v000                     NG6
  v001                       3

In [21]:
i = 8
f'bord_{i:02d}'
# i: Es la variable cuyo valor será insertado.
#:02d: Especifica el formato del número. Aquí:
# 02 indica que el número debe estar compuesto por al menos 2 dígitos, añadiendo ceros a la izquierda si es necesario.
# d indica que el valor es un número entero (dígito).

'bord_08'

In [22]:
reshaped_data = [] # aquí se guardará la información
# Iterate through each row in the dataframe
for index, row in df_mother.iterrows(): # index es número de fila, row es la información de la columna
# para trabajar con este tipo de loops simultáneo (index, row) es necesaria una lista con tuplas
    caseid = row['caseid']
    # Iterate over the 20 sets of columns
    for i in range(1, 21):
        bord_col = f'bord_{i:02d}' # bord es birthday order (orden de nacimiento)
        b1_col = f'b1_{i:02d}'
        b2_col = f'b2_{i:02d}'
        b4_col = f'b4_{i:02d}'
        
        # Check if bord_col is NaN, and if so, continue to the next iteration
        if pd.isna(row[bord_col]):
            break  # para este loop, ya no revisa más hijos
        
        # Append the reshaped row to the list
        reshaped_data.append({
            'caseid': caseid,
            'bord': row[bord_col],
            'b1': row[b1_col], # mes de nacimiento del hijo
            'b2': row[b2_col], # año de nacimiento del hijo
            'b4': row[b4_col] # sexo del hijo
        })

# Convert the list to a dataframe
reshaped_df_mother = pd.DataFrame(reshaped_data)
reshaped_df_mother

                caseid  bord    b1      b2      b4
0           1  1     2   7.0   3.0  2010.0    male
1           1  1     2   6.0  11.0  2006.0  female
2           1  1     2   5.0   1.0  2004.0  female
3           1  1     2   4.0   3.0  1999.0  female
4           1  1     2   3.0   6.0  1996.0  female
...                ...   ...   ...     ...     ...
19639     240 23     2   1.0   6.0  2007.0  female
19640     240 24     2   4.0  10.0  2010.0    male
19641     240 24     2   3.0  12.0  2007.0    male
19642     240 24     2   2.0   9.0  2005.0    male
19643     240 24     2   1.0   7.0  2000.0    male

[19644 rows x 5 columns]

In [23]:
reshaped_df_mother.sort_values( ['caseid', 'bord'] ).head(20)

             caseid  bord    b1      b2      b4
6        1  1     2   1.0  11.0  1987.0  female
5        1  1     2   2.0   6.0  1993.0  female
4        1  1     2   3.0   6.0  1996.0  female
3        1  1     2   4.0   3.0  1999.0  female
2        1  1     2   5.0   1.0  2004.0  female
1        1  1     2   6.0  11.0  2006.0  female
0        1  1     2   7.0   3.0  2010.0    male
12       1  2     2   1.0   7.0  1999.0    male
11       1  2     2   2.0  12.0  2002.0  female
10       1  2     2   3.0   6.0  2004.0    male
9        1  2     2   4.0   5.0  2005.0    male
8        1  2     2   5.0   4.0  2006.0  female
7        1  2     2   6.0   2.0  2009.0  female
14       1  3     3   1.0  10.0  2004.0    male
13       1  3     3   2.0   9.0  2007.0  female
18       1  4     2   1.0   6.0  2002.0  female
17       1  4     2   2.0  11.0  2004.0    male
16       1  4     2   3.0   5.0  2007.0    male
15       1  4     2   4.0   1.0  2010.0    male
19       1  5     3   1.0   5.0  2008.0  female

In [24]:

# Use pandas wide_to_long function
df_mother_long = pd.wide_to_long(df_mother, stubnames=['bord', 'b1', 'b2', 'b4'], 
                                 i='caseid', j='index', sep='_', suffix='\\d+') 
# bord, b1, b2, b3 y b4 son el comienzo del nombre de las columnas para las que se tiene la información de hijos
# i es la columna que se mantndrá fija
# j es la columna que se crearán con el id
# sep = "_" dice que luego de bord va un guión, y así con las otras columnas
# suffic = '\\d+' significa que van a haber más de un dígito luego de _

df_mother_long

,,b0_01,b0_02,b0_03,b0_04,b0_05,b0_06,b0_07,b0_08,b0_09,b0_10,...,v222,v223,v224,v235,v237,v238,bord,b1,b2,b4
caseid,index,,,,,,,,,,,,,,,,,,,,,
1 1 2,1,single birth,single birth,single birth,single birth,single birth,single birth,single birth,NaN,NaN,NaN,...,8.0,NaN,7,1,no,1,7.0,3.0,2010.0,male
1 1 3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,no prior child,NaN,0,NaN,NaN,NaN,NaN
1 2 2,1,single birth,single birth,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,...,21.0,NaN,6,1,no,1,6.0,2.0,2009.0,female
1 3 3,1,single birth,single birth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,month - exact date,2,1,no,0,2.0,9.0,2007.0,female
1 4 2,1,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,4,1,no,1,4.0,1.0,2010.0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240 21 2,20,single birth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,NaN,1,1,no,1,NaN,NaN,NaN,NaN
240 22 2,20,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,NaN,4,1,no,1,NaN,NaN,NaN,NaN
240 23 2,20,single birth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.0,NaN,1,1,no,0,NaN,NaN,NaN,NaN
240 24 2,20,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,4,1,no,1,NaN,NaN,NaN,NaN
240 26 3,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,no prior child,NaN,0,NaN,NaN,NaN,NaN

In [25]:
# Reset the index to get a flat dataframe
df_mother_long = df_mother_long.reset_index() # el index pasa a ser una columna, case index ahora es columna
df_mother_long

,caseid,index,b0_01,b0_02,b0_03,b0_04,b0_05,b0_06,b0_07,b0_08,...,v222,v223,v224,v235,v237,v238,bord,b1,b2,b4
0,1 1 2,1,single birth,single birth,single birth,single birth,single birth,single birth,single birth,NaN,...,8.0,NaN,7,1,no,1,7.0,3.0,2010.0,male
1,1 1 3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,no prior child,NaN,0,NaN,NaN,NaN,NaN
2,1 2 2,1,single birth,single birth,single birth,single birth,single birth,single birth,NaN,NaN,...,21.0,NaN,6,1,no,1,6.0,2.0,2009.0,female
3,1 3 3,1,single birth,single birth,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,month - exact date,2,1,no,0,2.0,9.0,2007.0,female
4,1 4 2,1,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,...,10.0,NaN,4,1,no,1,4.0,1.0,2010.0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126875,240 21 2,20,single birth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,NaN,1,1,no,1,NaN,NaN,NaN,NaN
126876,240 22 2,20,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,...,12.0,NaN,4,1,no,1,NaN,NaN,NaN,NaN
126877,240 23 2,20,single birth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.0,NaN,1,1,no,0,NaN,NaN,NaN,NaN
126878,240 24 2,20,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,...,2.0,NaN,4,1,no,1,NaN,NaN,NaN,NaN
126879,240 26 3,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,no prior child,NaN,0,NaN,NaN,NaN,NaN

In [26]:
# Drop rows where 'bord' is NaN
df_mother_long = df_mother_long.dropna(subset=['bord'])
df_mother_long

,caseid,index,b0_01,b0_02,b0_03,b0_04,b0_05,b0_06,b0_07,b0_08,...,v222,v223,v224,v235,v237,v238,bord,b1,b2,b4
0,1 1 2,1,single birth,single birth,single birth,single birth,single birth,single birth,single birth,NaN,...,8.0,NaN,7,1,no,1,7.0,3.0,2010.0,male
2,1 2 2,1,single birth,single birth,single birth,single birth,single birth,single birth,NaN,NaN,...,21.0,NaN,6,1,no,1,6.0,2.0,2009.0,female
3,1 3 3,1,single birth,single birth,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,month - exact date,2,1,no,0,2.0,9.0,2007.0,female
4,1 4 2,1,single birth,single birth,single birth,single birth,NaN,NaN,NaN,NaN,...,10.0,NaN,4,1,no,1,4.0,1.0,2010.0,male
5,1 5 3,1,single birth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,NaN,1,1,no,1,1.0,5.0,2008.0,female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90887,77 4 2,15,single birth,single birth,single birth,single birth,single birth,single birth,single birth,single birth,...,25.0,NaN,15,1,no,1,1.0,1.0,1979.0,female
92070,117 6 2,15,single birth,single birth,2nd of multiple,1st of multiple,single birth,2nd of multiple,1st of multiple,single birth,...,46.0,NaN,16,1,no,0,2.0,2.0,1990.0,female
92124,118 24 2,15,3rd of multiple,2nd of multiple,1st of multiple,single birth,single birth,single birth,single birth,single birth,...,9.0,NaN,16,1,yes,4,2.0,2.0,1992.0,male
98414,117 6 2,16,single birth,single birth,2nd of multiple,1st of multiple,single birth,2nd of multiple,1st of multiple,single birth,...,46.0,NaN,16,1,no,0,1.0,5.0,1988.0,female
98468,118 24 2,16,3rd of multiple,2nd of multiple,1st of multiple,single birth,single birth,single birth,single birth,single birth,...,9.0,NaN,16,1,yes,4,1.0,11.0,1989.0,male

In [27]:
df_mother_long.loc[ :, ['caseid', 'bord', 'b1', 'b2', 'b4']].sort_values( ['caseid', 'bord' ] )

                caseid  bord    b1      b2      b4
38064       1  1     2   1.0  11.0  1987.0  female
31720       1  1     2   2.0   6.0  1993.0  female
25376       1  1     2   3.0   6.0  1996.0  female
19032       1  1     2   4.0   3.0  1999.0  female
12688       1  1     2   5.0   1.0  2004.0  female
...                ...   ...   ...     ...     ...
6341      240 23     2   1.0   6.0  2007.0  female
25374     240 24     2   1.0   7.0  2000.0    male
19030     240 24     2   2.0   9.0  2005.0    male
12686     240 24     2   3.0  12.0  2007.0    male
6342      240 24     2   4.0  10.0  2010.0    male

[19644 rows x 5 columns]

FIN