# Exploring with Pandas and SAV files

1. Explore Endes `RECH1.SAV` file. It is located in this path `Diplomado_PUCP/_data/endes/2015/RECH1.SAV`.

In [4]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\anaconda\lib\site-packages (1.2.7)
Requirement already satisfied: pandas>=1.2.0 in c:\anaconda\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [5]:
import pandas as pd

In [8]:
import pyreadstat

# Replace 'your_file.sav' with the path to your SPSS file
file_path = r"C:\Users\cesar\Documents\GitHub\Diplomado_PUCP\_data\endes\2015\RECH1.SAV"

# Read the SPSS file
df, meta = pyreadstat.read_sav(file_path)

# Display the data
print("Data:")
print(df.head())

# Display the metadata
print("\nMetadata:")
print(meta)

Data:
              HHID  HVIDX  HV101  HV102  HV103  HV104  HV105  HV106  HV107  \
0        000104301    3.0    3.0    1.0    1.0    1.0    2.0    0.0    NaN
1        000207901    5.0    3.0    1.0    1.0    1.0    0.0    0.0    NaN
2        000211901    4.0    3.0    1.0    1.0    1.0    3.0    0.0    NaN
3        000213001    5.0   10.0    1.0    1.0    1.0    2.0    0.0    NaN
4        000218601    2.0    3.0    1.0    1.0    1.0    3.0    0.0    NaN

   HV108  ...  HV137  HV138  HV139  HV140  QH13A1  QH13A2  QH13A3  QH13A4  \
0    0.0  ...    NaN    NaN    NaN    NaN     2.0     2.0     2.0     2.0
1    0.0  ...    NaN    NaN    NaN    NaN     2.0     2.0     2.0     2.0
2    0.0  ...    NaN    NaN    NaN    NaN     2.0     2.0     2.0     2.0
3    0.0  ...    NaN    NaN    NaN    NaN     2.0     2.0     2.0     2.0
4    0.0  ...    NaN    NaN    NaN    NaN     2.0     2.0     2.0     2.0

   QH13A5  QH13A6
0     2.0     2.0
1     2.0     2.0
2     2.0     2.0
3     2.0     2.0
4     2.0     2.0

[5 rows x 47 columns]

Metadata:
<pyreadstat._readstat_parser.metadata_container object at 0x00000189F3DF9D30>

In [9]:
meta.variable_value_labels

{'HV101': {1.0: 'Head',
  2.0: 'Wife or husband',
  3.0: 'Son/daughter',
  4.0: 'Son/daughter-in-law',
  5.0: 'Grandchild',
  6.0: 'Parent',
  7.0: 'Parent-in-law',
  8.0: 'Brother/sister',
  9.0: 'Co-spouse',
  10.0: 'Other relative',
  11.0: 'Adopted/foster child',
  12.0: 'Not related',
  13.0: 'Niece/nehew by blood',
  14.0: 'Niece/nephew by marriage',
  15.0: 'Maid',
  98.0: 'DK'},
 'HV102': {0.0: 'No', 1.0: 'Yes'},
 'HV103': {0.0: 'No', 1.0: 'Yes'},
 'HV104': {1.0: 'Male', 2.0: 'Female'},
 'HV105': {97.0: '97+', 98.0: 'DK'},
 'HV106': {0.0: 'No education, preschool',
  1.0: 'Primary',
  2.0: 'Secondary',
  3.0: 'Higher',
  8.0: 'DK'},
 'HV107': {98.0: 'DK'},
 'HV108': {97.0: 'Inconsistent', 98.0: 'DK'},
 'HV109': {0.0: 'No education',
  1.0: 'Incomplete primary',
  2.0: 'Complete primary',
  3.0: 'Incomplete secondary',
  4.0: 'Complete secondary',
  5.0: 'Higher',
  8.0: 'DK'},
 'HV110': {0.0: 'No', 1.0: 'Yes'},
 'HV111': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV112': {0.0: 'Mother not in HH'},
 'HV113': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV114': {0.0: 'Father not in HH'},
 'HV115': {0.0: 'Never married',
  1.0: 'Married',
  2.0: 'Living together',
  3.0: 'Widowed',
  4.0: 'Divorced',
  5.0: 'Not living together'},
 'HV116': {0.0: 'Never married',
  1.0: 'Currently married',
  2.0: 'Formerly/ever marr.'},
 'HV117': {0.0: 'Not eligible', 1.0: 'Eligible'},
 'HV118': {0.0: 'Not eligible', 1.0: 'Eligible'},
 'HV120': {0.0: 'Not eligible', 1.0: 'Eligible'},
 'HV121': {0.0: 'No',
  1.0: 'Currently attending',
  2.0: 'Attended at some time'},
 'HV122': {0.0: 'No education, preschool',
  1.0: 'Primary',
  2.0: 'Secondary',
  3.0: 'Higher',
  8.0: 'DK'},
 'HV123': {98.0: 'DK'},
 'HV124': {97.0: 'Inconsistent', 98.0: 'DK'},
 'HV125': {0.0: 'No', 1.0: 'Yes'},
 'HV126': {0.0: 'No education, preschool',
  1.0: 'Primary',
  2.0: 'Secondary',
  3.0: 'Higher',
  8.0: 'DK'},
 'HV127': {98.0: 'DK'},
 'HV128': {97.0: 'Inconsistent', 98.0: 'DK'},
 'HV129': {0.0: 'Never attended',
  1.0: 'Entered school',
  2.0: 'Advanced',
  3.0: 'Repeating',
  4.0: 'Dropout',
  5.0: 'Left school 2+ years ago',
  8.0: 'DK'},
 'HV130': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV131': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV132': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV133': {0.0: 'No', 1.0: 'Yes'},
 'HV134': {0.0: 'No', 1.0: 'Yes'},
 'HV135': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV136': {0.0: 'No', 1.0: 'Yes'},
 'HV137': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV138': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV139': {0.0: 'No', 1.0: 'Yes', 8.0: 'DK'},
 'HV140': {0.0: 'Neither certificate or registered',
  1.0: 'Has certificate',
  2.0: 'Registered',
  8.0: 'DK'},
 'QH13A1': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A2': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A3': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A4': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A5': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'},
 'QH13A6': {1.0: 'Si', 2.0: 'No', 8.0: 'No sabe'}}

In [10]:
meta.column_names_to_labels

{'HHID': 'Case Identification',
 'HVIDX': 'Line number',
 'HV101': 'Relationship to head',
 'HV102': 'Usual resident',
 'HV103': 'Slept last night',
 'HV104': 'Sex of household member',
 'HV105': 'Age of household members',
 'HV106': 'Highest educational level',
 'HV107': 'Highest year of education',
 'HV108': 'Education in single years',
 'HV109': 'Educational attainment',
 'HV110': 'Member still in school',
 'HV111': 'Mother alive',
 'HV112': "Mother's line number",
 'HV113': 'Father alive',
 'HV114': "Father's line number",
 'HV115': 'Current marital status',
 'HV116': 'Currently, formerly, never m.',
 'HV117': 'Eligibility for female interview',
 'HV118': 'Eligibility for male interview',
 'HV120': 'Children eligibility for height/weight and hemoglobin',
 'HV121': 'Member attended school during current school year',
 'HV122': 'Educational level during current school year',
 'HV123': 'Grade of education during current school year',
 'HV124': 'Education in single years - current school year',
 'HV125': 'Member attended school during previous school year',
 'HV126': 'Educational level during previous school year',
 'HV127': 'Grade of education during previous school year',
 'HV128': 'Education in single years - previous school year',
 'HV129': 'School attendance status',
 'HV130': 'Member has been very sick for 3+ months last year',
 'HV131': 'Mother has been very sick for 3+ months last year',
 'HV132': 'Father has been very sick for 3+ months last year',
 'HV133': 'Mother/father dead or been very sick for 3+ months',
 'HV134': 'Both parents alive',
 'HV135': 'Has brothers/sisters under 18 of the same father and mother',
 'HV136': "Brothers/sisters under 18 that don't live in household",
 'HV137': 'Member has a blanket',
 'HV138': 'Member has a pair of shoes',
 'HV139': 'Member has 2+ sets of clothes',
 'HV140': 'Member has a birth certificate',
 'QH13A1': 'Limitacion permanente para moverse',
 'QH13A2': 'Limitacion permanente para ver',
 'QH13A3': 'Limitacion permanente para oir',
 'QH13A4': 'Limitacion permanente para hablar',
 'QH13A5': 'Limitacion permanente para entender',
 'QH13A6': 'Limitacion permanenete para relacionarse'}

2. Import all the RECH1.SAV files from all the subfolder located in this folder. `Diplomado_PUCP/_data/endes`

Doing one by one

In [ ]:
import numpy as np

np.arange(2015, 2020)

df2015 = pd.read_spss(r"C:\Users\cesar\Documents\GitHub\Diplomado_PUCP\_data\endes\2015\RECH1.SAV")  #usar la ruta relativa

df2015.loc[ :, 'year_sample'] = 2015

df2016 = pd.read_spss(r"C:\Users\cesar\Documents\GitHub\Diplomado_PUCP\_data\endes\2016\RECH1.SAV")

df2016.loc[ :, 'year_sample'] = 2016

df2017 = pd.read_spss(r"C:\Users\cesar\Documents\GitHub\Diplomado_PUCP\_data\endes\2017\RECH1.SAV")

df2017.loc[ :, 'year_sample'] = 2017

In [13]:
# append data
df_app = pd.concat([df2015, df2016, df2017]) #appendiar significa poner una base de datos debajo de otra

Using a loop

In [ ]:
import pandas as pd

years = np.arange(2015, 2020)
dfs = []

for year in years:
    file_path = f'/Users/ar8787/Documents/GitHub/Diplomado_PUCP/_data/endes/{year}/RECH1.SAV'
    df = pd.read_spss(file_path)
    df['year_sample'] = year
    dfs.append(df)

# Concatenate the DataFrames for different years into a single DataFrame
result_df = pd.concat(dfs, ignore_index=True)

In [ ]:
result_df

In [ ]:
import os
import glob
# If you need to read .SAV files, you might need a library like pyreadstat
import pyreadstat

Step 3: Navigating Directories and Finding Files
You can use os and glob libraries to navigate through directories and find files. Here's a basic way to do it:

In [ ]:
def find_sav_files(base_path):
    # This pattern will match any RECH1.SAV files in subdirectories of the base path
    pattern = os.path.join(base_path, '**', 'RECH1.SAV')
    
    # glob.glob will return a list of file paths matching the pattern
    # recursive=True allows searching in subdirectories
    return glob.glob(pattern, recursive=True)

base_path = 'Diplomado_PUCP/_data/endes'
sav_files = find_sav_files(base_path)
print("Found .SAV files:", sav_files)

Step 4: Reading .SAV Files
If you need to read data from these .SAV files, you can use pyreadstat. Here's a simple way to do it:

In [ ]:
def read_sav_file(file_path):
    df, meta = pyreadstat.read_sav(file_path)
    return df  # df is a DataFrame containing the data from the .SAV file

# Example of reading the first found .SAV file
if sav_files:
    first_file_data = read_sav_file(sav_files[0])
    print(first_file_data)

In [1]:
import pandas as pd

1. We have data `MotherData.csv` excerpted from a recent Demographic and Health Survey.  First convert the dataset from `wide` (each observation is a mother) to `long` (each observation is a birth, with associated mother id). The id `caseid` identifies uniquely all the mothers.  These columns refer to variable of children **['bidx', 'bord', 'b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b10', 'b11', 'b12', 'b13', 'b15', 'b16']** and have new columns for all their children. We have information for 20 children. It starts from last child to oldest one. Use for loops to reshape this dataset from `wide` to `long` ate mother and children level. If you want to get more information from the columns please see [this pdf](http://www.dhsprogram.com/pubs/pdf/DHSG4/Recode6_DHS_22March2013_DHSG4.pdf).

Max number of children is 20. We want data at mother, child level. From children, we only want month (b1) and year (b2) of birth (b4), and sex and have data

In [16]:
df_mother = pd.read_csv('../_data/MotherData.csv')

/var/folders/r4/lwrzx5hs7d3cxk4p5zsy7zqh0000gp/T/ipykernel_27652/1107978888.py:1: DtypeWarning: Columns (67,128,129,130,131,132,133,208,209,210,211,212,213,228,229,230,231,232,233,240,241,245,247,248,249,250,308,309,310,311,312,313,328,329,330,331,332,333,387,388,389,390,391,392,407,408,409,410,411,412,426,428,429,430,431,433) have mixed types. Specify dtype option on import or set low_memory=False.
  df_mother = pd.read_csv('../_data/MotherData.csv')

In [35]:
reshaped_data = []
# Iterate through each row in the dataframe
for index, row in df_mother.iterrows():
    caseid = row['caseid']
    # Iterate over the 20 sets of columns
    for i in range(1, 21):
        bord_col = f'bord_{i:02d}'
        b1_col = f'b1_{i:02d}'
        b2_col = f'b2_{i:02d}'
        b4_col = f'b4_{i:02d}'
        
        # Check if bord_col is NaN, and if so, continue to the next iteration
        if pd.isna(row[bord_col]):
            continue
        
        # Append the reshaped row to the list
        reshaped_data.append({
            'caseid': caseid,
            'bord': row[bord_col],
            'b1': row[b1_col],
            'b2': row[b2_col],
            'b4': row[b4_col]
        })

# Convert the list to a dataframe
reshaped_df_mother = pd.DataFrame(reshaped_data)
print(reshaped_df_mother)

                caseid  bord    b1      b2      b4
0           1  1     2   7.0   3.0  2010.0    male
1           1  1     2   6.0  11.0  2006.0  female
2           1  1     2   5.0   1.0  2004.0  female
3           1  1     2   4.0   3.0  1999.0  female
4           1  1     2   3.0   6.0  1996.0  female
...                ...   ...   ...     ...     ...
19639     240 23     2   1.0   6.0  2007.0  female
19640     240 24     2   4.0  10.0  2010.0    male
19641     240 24     2   3.0  12.0  2007.0    male
19642     240 24     2   2.0   9.0  2005.0    male
19643     240 24     2   1.0   7.0  2000.0    male

[19644 rows x 5 columns]

In [36]:
reshaped_df_mother.sort_values( ['caseid', 'bord' ] )

                caseid  bord    b1      b2      b4
6           1  1     2   1.0  11.0  1987.0  female
5           1  1     2   2.0   6.0  1993.0  female
4           1  1     2   3.0   6.0  1996.0  female
3           1  1     2   4.0   3.0  1999.0  female
2           1  1     2   5.0   1.0  2004.0  female
...                ...   ...   ...     ...     ...
19639     240 23     2   1.0   6.0  2007.0  female
19643     240 24     2   1.0   7.0  2000.0    male
19642     240 24     2   2.0   9.0  2005.0    male
19641     240 24     2   3.0  12.0  2007.0    male
19640     240 24     2   4.0  10.0  2010.0    male

[19644 rows x 5 columns]

In [39]:

# Use pandas wide_to_long function
df_mother_long = pd.wide_to_long(df_mother, stubnames=['bord', 'b1', 'b2', 'b4'], i='caseid', j='index', sep='_', suffix='\\d+')

# Reset the index to get a flat dataframe
df_mother_long = df_mother_long.reset_index()

# Drop rows where 'bord' is NaN
df_mother_long = df_mother_long.dropna(subset=['bord'])

In [41]:
df_mother_long.loc[ :, ['caseid', 'bord', 'b1', 'b2', 'b4']].sort_values( ['caseid', 'bord' ] )

                caseid  bord    b1      b2      b4
38064       1  1     2   1.0  11.0  1987.0  female
31720       1  1     2   2.0   6.0  1993.0  female
25376       1  1     2   3.0   6.0  1996.0  female
19032       1  1     2   4.0   3.0  1999.0  female
12688       1  1     2   5.0   1.0  2004.0  female
...                ...   ...   ...     ...     ...
6341      240 23     2   1.0   6.0  2007.0  female
25374     240 24     2   1.0   7.0  2000.0    male
19030     240 24     2   2.0   9.0  2005.0    male
12686     240 24     2   3.0  12.0  2007.0    male
6342      240 24     2   4.0  10.0  2010.0    male

[19644 rows x 5 columns]