In [1]:
# import the library
import googlemaps
import json
import pprint
import time
import pandas as pd
import numpy as np
import re

In [2]:
API_KEY = 'API_KEY'

In [3]:
data = pd.read_csv(  r"../_data/peru_excel_clean.csv")

In [4]:
df1 = data[ data.iloc[ :, 3 ].notnull() ].copy() # remueve las filas que no tienen dirección

In [5]:
df1.head()

,Departamento,Provincia,Distrito,Dirección
0,AMAZONAS,AMAZONAS,CHACHAPOYAS,Jirón Triunfo Nº 903 1er piso
1,AMAZONAS,Rodriguez de Mendoza,San Nicolás,Jirón Victor Mori Nº 204 San Nicolás
2,AMAZONAS,BAGUA,BAGUA,Calle Junín S/N
3,AMAZONAS,BONGARA,JAZAN,Avenida marginal N° 100 Pedro Ruíz
4,AMAZONAS,UTCUBAMBA,BAGUA GRANDE,Jirón Simón Bolivar N° 545

In [6]:
def get_results( result_api ):
    
    try:
        lat = result_api[0]['geometry']['location']['lat']
        lon = result_api[0]['geometry']['location']['lng']   
    except:
        lat = np.nan
        lon = np.nan
    
    return ( lat, lon )

In [7]:
# def geo_reniec( row_series ):
    
#     address = f"{row_series['Departamento']}, {row_series['Provincia']}, {row_series['Distrito']}, {row_series['Dirección']}"
    
#     # Set Geolocation
#     gmaps = googlemaps.Client( key = 'AIzaSyD90W_EeEaK1nLEqH59RT6nmsMPPqTE4KQ' )
#     result_api = gmaps.geocode( address , region = 'PE' )
    
#     # Information
#     try:
#         lat = result_api[0]['geometry']['location']['lat']
#         lon = result_api[0]['geometry']['location']['lng']   
#     except:
#         lat = np.nan
#         lon = np.nan
    
#     return ( address, lat, lon )

In [8]:
def geo_reniec(row_series):
    
    # Crear la dirección completa a partir de las columnas
    address = f"{row_series['Departamento']}, {row_series['Provincia']}, {row_series['Distrito']}, {row_series['Dirección']}"
    
    # Establecer la conexión con la API de Google Maps
    gmaps = googlemaps.Client(key='AIzaSyD90W_EeEaK1nLEqH59RT6nmsMPPqTE4KQ')
    result_api = gmaps.geocode(address, region='PE')
    
    # Obtener las coordenadas utilizando la función `get_results`
    lat, lon = get_results(result_api)
    
    return (address, lat, lon)

In [9]:
df2 = df1.sample( frac = 0.025 ).copy()
df2

,Departamento,Provincia,Distrito,Dirección
227,SAN MARTIN,SAN MARTIN,SAN MARTIN,Jr. Jiménez Pimentel Nº 280
144,LIMA,LIMA,JESUS MARIA,Jr. Talara Nº 130- 134 y 136
59,CAJAMARCA,SAN IGNACIO,SAN IGNACIO,Jr. Santo Domingo N° 169
102,ICA,NASCA,NASCA,"Calle Fermin del Castillo Nª 270 Nasca, Ica"
27,AREQUIPA,CAMANA,CAMANA,Avenida Mariscal Castilla N° 221
33,AREQUIPA,CONDESUYOS,CHUQUIBAMBA,Av. Alameda s/n Los Tres Errantes

In [10]:
df2['results'] = df2.apply( lambda x: geo_reniec( x )  , axis = 1 )

In [11]:
df2

,Departamento,Provincia,Distrito,Dirección,results
227,SAN MARTIN,SAN MARTIN,SAN MARTIN,Jr. Jiménez Pimentel Nº 280,"(SAN MARTIN, SAN MARTIN , SAN MARTIN , Jr. Jim..."
144,LIMA,LIMA,JESUS MARIA,Jr. Talara Nº 130- 134 y 136,"(LIMA, LIMA, JESUS MARIA, Jr. Talara Nº 130- 1..."
59,CAJAMARCA,SAN IGNACIO,SAN IGNACIO,Jr. Santo Domingo N° 169,"(CAJAMARCA, SAN IGNACIO, SAN IGNACIO, Jr. Sant..."
102,ICA,NASCA,NASCA,"Calle Fermin del Castillo Nª 270 Nasca, Ica","(ICA, NASCA, NASCA, Calle Fermin del Castillo ..."
27,AREQUIPA,CAMANA,CAMANA,Avenida Mariscal Castilla N° 221,"(AREQUIPA, CAMANA, CAMANA, Avenida Mariscal Ca..."
33,AREQUIPA,CONDESUYOS,CHUQUIBAMBA,Av. Alameda s/n Los Tres Errantes,"(AREQUIPA, CONDESUYOS, CHUQUIBAMBA, Av. Alamed..."

In [12]:
pd.DataFrame( df2.results.tolist()  )

                                                   0          1          2
0  SAN MARTIN, SAN MARTIN , SAN MARTIN , Jr. Jimé...        NaN        NaN
1  LIMA, LIMA, JESUS MARIA, Jr. Talara Nº 130- 13... -12.068528 -77.047927
2  CAJAMARCA, SAN IGNACIO, SAN IGNACIO, Jr. Santo...  -5.148293 -79.007384
3  ICA, NASCA, NASCA, Calle Fermin del Castillo N... -14.824483 -74.939934
4  AREQUIPA, CAMANA, CAMANA, Avenida Mariscal Cas... -16.624458 -72.709976
5  AREQUIPA, CONDESUYOS, CHUQUIBAMBA, Av. Alameda... -15.836657 -72.653598

In [13]:
df2[['addres', 'lat', 'lng']] = pd.DataFrame( df2.results.tolist() ,  index = df2.index )

In [14]:
df2

,Departamento,Provincia,Distrito,Dirección,results,addres,lat,lng
227,SAN MARTIN,SAN MARTIN,SAN MARTIN,Jr. Jiménez Pimentel Nº 280,"(SAN MARTIN, SAN MARTIN , SAN MARTIN , Jr. Jim...","SAN MARTIN, SAN MARTIN , SAN MARTIN , Jr. Jimé...",NaN,NaN
144,LIMA,LIMA,JESUS MARIA,Jr. Talara Nº 130- 134 y 136,"(LIMA, LIMA, JESUS MARIA, Jr. Talara Nº 130- 1...","LIMA, LIMA, JESUS MARIA, Jr. Talara Nº 130- 13...",-12.068528,-77.047927
59,CAJAMARCA,SAN IGNACIO,SAN IGNACIO,Jr. Santo Domingo N° 169,"(CAJAMARCA, SAN IGNACIO, SAN IGNACIO, Jr. Sant...","CAJAMARCA, SAN IGNACIO, SAN IGNACIO, Jr. Santo...",-5.148293,-79.007384
102,ICA,NASCA,NASCA,"Calle Fermin del Castillo Nª 270 Nasca, Ica","(ICA, NASCA, NASCA, Calle Fermin del Castillo ...","ICA, NASCA, NASCA, Calle Fermin del Castillo N...",-14.824483,-74.939934
27,AREQUIPA,CAMANA,CAMANA,Avenida Mariscal Castilla N° 221,"(AREQUIPA, CAMANA, CAMANA, Avenida Mariscal Ca...","AREQUIPA, CAMANA, CAMANA, Avenida Mariscal Cas...",-16.624458,-72.709976
33,AREQUIPA,CONDESUYOS,CHUQUIBAMBA,Av. Alameda s/n Los Tres Errantes,"(AREQUIPA, CONDESUYOS, CHUQUIBAMBA, Av. Alamed...","AREQUIPA, CONDESUYOS, CHUQUIBAMBA, Av. Alameda...",-15.836657,-72.653598

Open Street Map
https://wiki.openstreetmap.org/wiki/API

API de Twitter

API de Spotify