# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [3]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [4]:
#1
print(tuple1[1][0])

10

In [5]:
#2
print(tuple1[-1])

(5, 15, 25)

In [6]:
#3
tuple1[0] = "pink grapefruit"
#As the object it's a tuple, it cannot be modified. That's why an error appears in the output.

TypeError: 'tuple' object does not support item assignment

In [16]:
#4
print(len(tuple1))

3

In [18]:
#5
tuple2_sum = sum(map(sum, tuple2))
print(tuple2_sum)
# "map()" generates an iterator based on the function applied to an iterable (here, a tuple, although it could also be a list, dictionary, etc.).
# "map" syntax is map(a, b), where a = function-to-execute, and b = object-to-iterate. In this case, a = sum, and b = tuple2.
# So the inner function sums the numbers in each of the three lists encompassed in tuple2.
# Then, we applied "sum" to the result (the list: [15, 10, 17]). Finally, we print the result.

42

In [20]:
#6a
tuple3 = tuple(map(lambda x: list(map(lambda y: y/2, x)), tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

In [22]:
#6b
def half(nested_list):
    return [item / 2 for item in nested_list]

# Aplicando la función a cada sublista de tuple2
tuple3 = tuple(map(half, tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [2]:
import numpy as np

In [4]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [6]:
#1

import pandas as pd

# Convertir la lista en un objeto Series de pandas
f_series = pd.Series(f_list)

# Usar pandas para encontrar los índices de np.nan
nan_indices = f_series[pd.isna(f_series)].index.tolist()

# Imprimir los índices de los valores np.nan
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")
#print(f"The indices {nan_indices} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [8]:
p2_list = [ 2 , 3, 4, 5 ]

In [10]:
#2a
p2_list*4

#2b
#p2_list.extend(p2_list*3)
#p2_list

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [12]:
print(len(f_list))

8

In [14]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [16]:
#4
print(' '.join(text1))

My teacher assistant is so boring.

In [18]:
#5
text1[1:3] = ['TA']
text1.extend(['but', 'is', 'very', 'funny.'])
print(' '.join(text1))

My TA is so boring. but is very funny.

In [20]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [22]:
#6
values1_max = max(values1)
maxv_index = values1.index(values1_max)
values1_min = min(values1)
minv_index = values1.index(values1_min)

print(f"The max value of values1 is {values1_max} and is located in the {maxv_index} index.")
print(f"The min value of values1 is {values1_min} and is located in the {minv_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [32]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [34]:
#7
# Separar nombres y apellidos usando map y split
split_list = list(map(lambda x: x.split(", "), last_and_name))

# Obtener los nombres
names = list(map(lambda x: x[1], split_list))

# Obtener los apellidos
last_names = list(map(lambda x: x[0], split_list))

# Imprimir las listas
print(names)
print(last_names)

['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [40]:
#8
print(len(last_names))
print(len(emails))

# Generar el diccionario y obtener los apellidos sin email usando filter
students_and_emails = dict(zip(last_names, emails))
no_email = list(filter(lambda k: not students_and_emails[k], students_and_emails))

print(no_email)

52
52
['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [42]:
str1 = 'I am                            too                                                        old'

In [46]:
#1
# Usar split y join para eliminar los espacios duplicados
new_str1 = ' '.join(str1.split())

print(new_str1)

I am too old

In [60]:
#2
letter_count = len(list(filter(str.isalpha, str1)))
print(letter_count)

9

In [64]:
#3
space_count = len(list(filter(str.isspace, str1)))
print(space_count)

85

In [72]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [74]:
#4
at_positions = list(map(lambda email: email.find('@'), emails))
print(at_positions)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [78]:
#5
edu_exists = list(map(lambda email: email.find('.edu') != -1, emails))
print(edu_exists)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [82]:
#6
before_dot = list(map(lambda email: email[:email.find('.')], emails))
contains_at_count = sum(map(lambda s: s.find('@') != -1, before_dot))
print(contains_at_count)

14

## 1.4 Pandas

1. Import this dataset new_up_data_sysdif_block_lvl_ver2.csv located in the `_data` folder.
2. Import this dataset ESA_CLIMATE_CHANGE_tree_layers.csv located in the `_data` folder.
3. Merge both datasets using the key variables `pc11_s_id`,	`pc11_d_id,`	`pc11_sd_id`, `year`. 
4. Generate a descriptive statistics for `per_TREES-BD`, `per_TREES-BE`, `per_TREES-ND`, `per_TREES-NE`.
5. Sum these 4 columns and name the new column as `sum_tree` and get a histogram.
6. Generate the histogram of these 4 columns `per_TREES-BD`, `per_TREES-BE`, `per_TREES-ND`, `per_TREES-NE` for the above and below median dataset filtered by the sum_tree variable.

Do not forget to use relative paths.

In [84]:
import pandas as pd
import numpy as np

In [98]:
#1
# Importar los datasets usando rutas relativas
data_path_1 = '../../_data/new_up_data_sysdif_block_lvl_ver2.csv'

In [100]:
#2
data_path_2 = '../../_data/ESA_CLIMATE_CHANGE_tree_layers.csv'

In [104]:
sysdif_df = pd.read_csv(data_path_1)
climate_df = pd.read_csv(data_path_2)

In [92]:
sysdif_df

,pc11_s_id,pc11_d_id,pc11_sd_id,year,post_ror_data_entry_block_any,post_ror_dist_softw_available_block_any,post_ror_aadhaar_link_block_any,post_mutation_computerized_block_any,post_digital_ror_issued_block_any,block_id,mean_night,count_night,sum_night,sd_name,frac_12,per_aggriculture,per_treecover,per_greencover,per_built
0,1,1,1,2000,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,NaN,NaN,31.286381,47.388935,21.324677
1,1,1,1,2001,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.064216,6.421551,33.507698,42.900303,23.592001
2,1,1,1,2002,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.076860,7.685976,28.036722,49.964584,21.998692
3,1,1,1,2003,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.072095,7.209489,32.680721,45.621540,21.697739
4,1,1,1,2004,0,0,0,0,0,1,0.003113,8192,25.503809,Kupwara,0.052910,5.290961,31.404015,41.732754,26.863232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131537,9,202,1012,2018,1,1,0,1,1,5965,0.267226,4315,1153.080078,Patiyali,0.953928,95.392793,5.095272,53.366138,41.401382
131538,9,202,1012,2019,1,1,0,1,1,5965,0.212258,4303,913.344971,Patiyali,0.961914,96.191359,4.311493,59.983742,35.600212
131539,9,202,1012,2020,1,1,0,1,1,5965,0.196405,4303,845.130005,Patiyali,0.961640,96.163976,8.594394,54.553619,36.757240
131540,9,202,1012,2021,1,1,0,1,1,5965,0.204011,4303,877.859985,Patiyali,0.964120,96.411973,5.193740,57.827095,36.744907
131541,9,202,1012,2022,1,1,0,1,1,5965,0.216364,4303,931.015015,Patiyali,0.970185,97.018504,7.170661,60.158665,32.470570

In [106]:
climate_df

,pc11_s_id,pc11_d_id,pc11_sd_id,sd_name,per_TREES-BD,year,per_TREES-BE,per_TREES-ND,per_TREES-NE
0,24,468,0,Rann Of Kachchh,0.020038,2006,0.000000,0.035410,0.003214
1,24,468,3722,Lakhpat,1.768032,2006,0.000000,0.186592,0.002453
2,24,468,3723,Rapar,0.001384,2006,0.000000,0.000000,0.000000
3,24,468,3724,Bhachau,0.005311,2006,0.000000,0.013269,0.000000
4,24,468,3725,Anjar,0.010257,2006,0.000000,0.018871,0.000000
...,...,...,...,...,...,...,...,...,...
125344,35,639,5921,Rangat,1.323027,2003,79.195435,0.000000,0.197154
125345,35,640,5923,Port Blair,0.000000,2003,68.636780,0.000000,0.321329
125346,35,640,5924,Little Andaman,3.892228,2003,78.234627,0.000000,0.000000
125347,35,640,5922,Ferrargunj,0.187679,2003,82.064636,0.000000,0.362423
125348,1,0,0,NaN,0.134543,2003,0.032157,0.000140,0.978852

In [110]:
#3
# Merge ambos DataFrames usando las variables clave
merged_df = pd.merge(sysdif_df, climate_df, on=['pc11_s_id', 'pc11_d_id', 'pc11_sd_id', 'year'])
merged_df

,pc11_s_id,pc11_d_id,pc11_sd_id,year,post_ror_data_entry_block_any,post_ror_dist_softw_available_block_any,post_ror_aadhaar_link_block_any,post_mutation_computerized_block_any,post_digital_ror_issued_block_any,block_id,...,frac_12,per_aggriculture,per_treecover,per_greencover,per_built,sd_name_y,per_TREES-BD,per_TREES-BE,per_TREES-ND,per_TREES-NE
0,1,1,1,2000,0,0,0,0,0,1,...,NaN,NaN,31.286381,47.388935,21.324677,Kupwara,1.964613,1.117632,0.0,29.015697
1,1,1,1,2001,0,0,0,0,0,1,...,0.064216,6.421551,33.507698,42.900303,23.592001,Kupwara,1.956872,1.117632,0.0,28.908140
2,1,1,1,2002,0,0,0,0,0,1,...,0.076860,7.685976,28.036722,49.964584,21.998692,Kupwara,1.969693,1.117632,0.0,28.930830
3,1,1,1,2003,0,0,0,0,0,1,...,0.072095,7.209489,32.680721,45.621540,21.697739,Kupwara,1.968723,1.117632,0.0,28.954021
4,1,1,1,2004,0,0,0,0,0,1,...,0.052910,5.290961,31.404015,41.732754,26.863232,Kupwara,1.972254,1.140225,0.0,29.136803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125260,9,202,1012,2016,1,1,0,1,1,5965,...,0.954903,95.490319,3.570984,54.682835,41.631336,Patiyali,0.015884,0.000000,0.0,0.000000
125261,9,202,1012,2017,1,1,0,1,1,5965,...,0.956646,95.664638,6.060174,62.668755,31.177742,Patiyali,0.015884,0.000000,0.0,0.000000
125262,9,202,1012,2018,1,1,0,1,1,5965,...,0.953928,95.392793,5.095272,53.366138,41.401382,Patiyali,0.015884,0.000000,0.0,0.000000
125263,9,202,1012,2019,1,1,0,1,1,5965,...,0.961914,96.191359,4.311493,59.983742,35.600212,Patiyali,0.015884,0.000000,0.0,0.000000
125264,9,202,1012,2020,1,1,0,1,1,5965,...,0.961640,96.163976,8.594394,54.553619,36.757240,Patiyali,0.015884,0.000000,0.0,0.000000