# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of `tuple2` and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [22]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [ ]:
## 1.2.1 Show the indices of the np.nan values in the f_list list.

In [ ]:
###I imported the NumPy module, which provides the np.isnan function to check if a value is  NaN: import numpy as np: 
###Then, I defined the list f_list containing NaN values: f_list = [np.nan, np.nan, 3, 4, np.nan, 6, 7, np.nan]
###Then, I used a list comprehension with enumerate to create a list of indexes where the values are NaN: nan_indices = [index for index, value in enumerate(f_list) if np.isnan(value)]: print(f"The  
###And I converted the indices to a comma separated string and printed it: indices {', '.join(map(str, nan_indices))} have np.nan values.")

In [2]:
import numpy as np

In [3]:
f_list = [np.nan, np.nan, 3, 4, np.nan, 6, 7, np.nan]
nan_indices = [index for index, value in enumerate(f_list) if np.isnan(value)]
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [ ]:
## 1.2.2 Replicate 4 times the values of the list p2_list

In [ ]:
###Define the list p2_list: p2_list = [2, 3, 4, 5]
###I replicated the list by multiplying it by 4: replicated_list = p2_list * 4 
###I printed the replicated list: print(replicated_list)

In [4]:
p2_list = [2, 3, 4, 5]
replicated_list = p2_list * 4
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
## 1.2.3 Print the length of f_list

In [ ]:
###I used the len function to get the length of f_list and print it: print(len(f_list))

In [5]:
print(len(f_list))

8

In [ ]:
## 1.2.4 Print My teacher assistant is so boring

In [ ]:
###I defined the list text1: text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
###I used the join method to join the list elements into a space-separated string and printed it: print(' '.join(text1))

In [6]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
print(' '.join(text1))

My teacher assistant is so boring.

In [ ]:
## 1.2.5 Print My TA is so boring, but is very funny

In [ ]:
###I defined the initial text1 list: text1 = ['My', 'TA', 'is', 'so', 'boring,']
###Then, I defined an additional list additional_text: additional_text = ['but', 'is', 'very', 'funny.']
###I used the extend method to add the additional_text elements to text1: text1.extend(additional_text) 
###Join the list elements into a space-separated string and print it: print(' '.join(text1))

In [7]:
text1 = ['My', 'TA', 'is', 'so', 'boring,']
additional_text = ['but', 'is', 'very', 'funny.']
text1.extend(additional_text)
print(' '.join(text1))

My TA is so boring, but is very funny.

In [ ]:
## 1.2.6 Print: The max value of values1 is 86 and is located in the 0 index and The min value of values1 is 0 and is located in the 7 index

In [ ]:
###I defined the list values1:values1 = [86, 45, 23, 68, 45, 56, 67, 0]
###I found the maximum value in values1 using max: max_value = max(values1)
###I found the minimum value in values1 using min: min_value = min(values1)
###Found the index of the maximum value: max_index = values1.index(max_value)
###Found the index of the minimum value: min_index = values1.index(min_value)
###Print the maximum value and its index: print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
###I printed the minimum value and its index: print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

In [8]:
values1 = [86, 45, 23, 68, 45, 56, 67, 0]
max_value = max(values1)
min_value = min(values1)
max_index = values1.index(max_value)
min_index = values1.index(min_value)
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [ ]:
##1.2.7 Get two lists: names and last_names using last_and_name list

In [ ]:
###In this activity, I need to create two separate lists from a combined list of names and last names. I use the map and split functions to achieve this:
####Define the Combined List: I start with a list called last_and_name that contains strings of combined last names and first names, separated by a comma and a space.
####Use map and split to Separate Names and Last Names: I apply the map function along with a lambda function to split each string in the last_and_name list by the comma and space (", "). The result is two lists: one for names and one for last names: lambda x: x.split(", ")[1] splits each string and takes the second part (the first name) y lambda x: x.split(", ")[0] splits each string and takes the first part (the last name).
####Print the Resulting Lists: Finally, I print the names and last_names lists to verify the results.

In [16]:
last_and_name = ["CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLÁS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGAÑO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HIÑOJOSA CAHUANA, PERCY ALBERTH", "ANGELES GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NUÑEZ HUAMÁN, CÉSAR AUGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS"]

# Usar map y split para separar nombres y apellidos
names, last_names = zip(*map(lambda x: x.split(", ")[::-1], last_and_name))

print(f"Names: {list(names)}")
print(f"Last Names: {list(last_names)}")

Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLÁS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AUGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGAÑO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HIÑOJOSA CAHUANA', 'ANGELES GARCÍA', 'ALDAVE ACOSTA', 'NUÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [ ]:
## 1.2.8 Give only the last names of students who do not have email. Use the emails and last_names listt

In [ ]:
###In this activity, we need to identify and list the last names of students who do not have an email address. We use the mapand split functions to achieve this.
####I defined the emails and last_names lists.
####I used the zip function to pair each email with its corresponding last name.
####I used a list comprehension to filter out the last names of students who do not have email addresses.
####I printed the resulting list of last names.

In [18]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe"]

# Obtener apellidos de estudiantes que no tienen correo electrónico
no_email_last_names = [apellido for email, apellido in zip(emails, apellidos) if not email]

print(f"Apellidos sin correo electrónico: {no_email_last_names}")

Apellidos sin correo electrónico: ['CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HIÑOJOSA CAHUANA', 'ALDAVE ACOSTA', 'NUÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [2]:
str1 = 'I am                            too                                                        old'

In [4]:
# Dividir la cadena en palabras (automáticamente elimina espacios en blanco adicionales)
words = str1.split()

# Unir las palabras con un solo espacio entre ellas
str1_clean = ' '.join(words)

print(str1_clean)

I am too old

In [5]:
num_letras = len([char for char in str1 if char.isalpha()])
print(num_letras)

9

In [6]:
num_espacios = len([char for char in str1 if char.isspace()])
print(num_espacios)

85

In [7]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [8]:
posiciones_arroba = list(map(lambda email: email.find('@'), emails))
print(posiciones_arroba)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [9]:
tiene_edu = list(map(lambda email: email.find('.edu') != -1, emails))
print(tiene_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [10]:
# Obtenermo la parte de la cadena antes del primer punto
antes_del_punto = list(map(lambda email: email[:email.find('.')], emails))

# Verificamos cuántas de estas partes contienen @
contiene_arroba = list(map(lambda parte: '@' in parte, antes_del_punto))

# Contamo cuántas contienen @
num_con_arroba = sum(contiene_arroba)

print(antes_del_punto)
print(contiene_arroba)
print(num_con_arroba)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
[True, False, False, True, False, True, False, True, True, False, False, False, False, True, False, False, True, False, False, True, False, False, False, True, False, True, True, False, False, True, True, False, False, False, True]
14

## 1.4 Pandas

1. Import this dataset new_up_data_sysdif_block_lvl_ver2.csv located in the `_data` folder.
2. Import this dataset ESA_CLIMATE_CHANGE_tree_layers.csv located in the `_data` folder.
3. Merge both datasets using the key variables `pc11_s_id`,	`pc11_d_id,`	`pc11_sd_id`, `year`. 
4. Generate a descriptive statistics for `per_TREES-BD`, `per_TREES-BE`, `per_TREES-ND`, `per_TREES-NE`.
5. Sum these 4 columns and name the new column as `sum_tree` and get a histogram.
6. Generate the histogram of these 4 columns `per_TREES-BD`, `per_TREES-BE`, `per_TREES-ND`, `per_TREES-NE` for the above and below median dataset filtered by the sum_tree variable.

Do not forget to use relative paths.