# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

### Group 2 Members
* Gisela Salomon
* Gianfranco Romero
* Luis Felipe Acosta
* Renato Rivera
* Victoria Olivera (Repo Manteiner)

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [2]:
# 1. Use of indexing to print the 1st item of the 2nd item of tuple1
print(tuple1[1][0])

10

In [4]:
# 2.Use of indexing to print the lasst item of the tuple1
print(tuple1[-1])

(5, 15, 25)

In [5]:
# 3. Change the value "orange" for "pink grapefruit".
tuple1[0] = "pink grapefruit"

TypeError: 'tuple' object does not support item assignment

As we can see, it is not possible to change the value "orange" to "pink grapefruit" because the object tuple1 is a tuple, and a main characteristic of this type of object is that they are immutable Python containers.

In [7]:
# 4. Use of  function len to print the length of tuple1
print(len(tuple1))

3

In [9]:
#5. Sum the elements of tuple2 
# tuple2 = ([7, 8], [9, 1], [10, 7]): The tuple 'tuple2' is composed of lists
# Using map to apply sum to each list within the tuple.
a = map(sum, tuple2) 
# Sum all the results
sum_tuple2 = sum(a)
# Use of print to show the output 
print(sum_tuple2)

42

In [12]:
#6.Generate a new tuple object named tuple3 with the half values of tuple2
# tuple2 = ([7, 8], [9, 1], [10, 7]): The tuple 'tuple2' is composed of lists
# Define the half_values function to halve the values
def half_values(lst):
    return list(map(lambda x: x / 2, lst))
# Apply the half_values function to each list in tuple2 using map
tuple3 = tuple(map(half_values, tuple2))
# Use of print to show the output 
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [1]:
import numpy as np

In [2]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [3]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [4]:
p2_list = [ 2 , 3, 4, 5 ]

In [5]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [6]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

#Exercise 1: Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.

In [8]:
#First we import numpy as np to work with np.nan

import numpy as np

#We define the list f_list with several values, including np.nan
f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

#We find the indices of the np.nan values in f_list
nan_indices = [index for index, value in enumerate(f_list) if value is np.nan]

# We print the indexes using f-strings
print(f"Indices of np.nan values in f_list: {nan_indices}")

Indices of np.nan values in f_list: [0, 1, 4, 7]

#Exercise 2: Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [9]:
p2_list = [2, 3, 4, 5]

#We replicate the values in the list 4 times
replicated_list = p2_list * 4

#We print the result
print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

#Exercise 3: Print the length of f_list. Hint: Length function

In [10]:
#First we import numpy as np 
import numpy as np

f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

#We print the length of f_list
print(len(f_list))

8

#Exercise 4: Print My teacher assistant is so boring. using text1 list. Hint: Use the join function

In [11]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

# We join the elements of the list into a single string
sentence = ' '.join(text1)

# We print the resulting string
print(sentence)

My teacher assistant is so boring.

Exercise 5: Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.

In [12]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

# We modify the elements of the list
text1[1] = 'TA'
text1[5] = 'boring,'

# We add the additional items to the list
text1.extend(['but', 'is', 'very', 'funny.'])

# We join the elements of the list into a single string
sentence = ' '.join(text1)

# We print the resulting string
print(sentence)

My TA assistant is so boring, but is very funny.

#Exercise 6: The max value of values1 is 86 and is located in the 0 index. The min value of values1 is 0 and is located in the 7 index. Hint: Use the f-string, min, and max functions.

In [13]:
values1 = [86, 86, 85, 85, 85, 83, 23, 0, 84, 1]

# We find the maximum value and its index
max_value = max(values1)
max_index = values1.index(max_value)

# We find the minimum value and its index
min_value = min(values1)
min_index = values1.index(min_value)

# Finally we print the results using f-strings
print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

#Exercise 7: Get two lists: names and last_names using last_and_name list. Hint: Use map and split.

In [14]:
last_and_name = [
    "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", 
    "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", 
    "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", 
    "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", 
    "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", 
    "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", 
    "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", 
    "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", 
    "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", 
    "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", 
    "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", 
    "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", 
    "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", 
    "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", 
    "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", 
    "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", 
    "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", 
    "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", 
    "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", 
    "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", 
    "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", 
    "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", 
    "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", 
    "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", 
    "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", 
    "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS"]

# We use map and split to get two separate lists
split_names = list(map(lambda x: x.split(', '), last_and_name))
last_names = [item[0] for item in split_names]
names = [item[1] for item in split_names]

# We print the results
print(f"Last Names: {last_names}")
print(f"Names: {names}")

Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']
Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']

Exercise 8: Give only the last names of students who do not have email. Use the emails and last_names listt. Hint: Use map and split

In [15]:
last_and_name = [
    "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", 
    "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", 
    "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", 
    "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", 
    "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", 
    "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", 
    "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", 
    "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", 
    "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", 
    "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", 
    "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", 
    "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", 
    "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", 
    "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", 
    "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", 
    "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", 
    "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", 
    "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", 
    "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", 
    "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", 
    "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", 
    "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", 
    "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", 
    "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", 
    "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", 
    "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS"
]

emails = [
    "cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", 
    "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", 
    "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", 
    "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", 
    "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", 
    "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", 
    "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", 
    "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", 
    "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", 
    "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", 
    "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", 
    "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", 
    "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe"
]

# We get the surnames and first names separately
split_names = list(map(lambda x: x.split(', '), last_and_name))
last_names = [item[0] for item in split_names]

# We find the indexes where the emails are empty
no_email_indices = [index for index, email in enumerate(emails) if email == ""]

# We obtain the last names of students who do not have email
no_email_last_names = [last_names[index] for index in no_email_indices]

# We print the last names of students who do not have email
print(no_email_last_names)

['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [ ]:
str1 = 'I am                            too                                                        old'

In [18]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

## 1.4 Pandas

1. Import this dataset new_up_data_sysdif_block_lvl_ver2.csv located in the `_data` folder.
2. Import this dataset ESA_CLIMATE_CHANGE_tree_layers.csv located in the `_data` folder.
3. Merge both datasets using the key variables `pc11_s_id`,	`pc11_d_id,`	`pc11_sd_id`, `year`. 
4. Generate a descriptive statistics for `per_TREES-BD`, `per_TREES-BE`, `per_TREES-ND`, `per_TREES-NE`.
5. Sum these 4 columns and name the new column as `sum_tree` and get a histogram.
6. Generate the histogram of these 4 columns `per_TREES-BD`, `per_TREES-BE`, `per_TREES-ND`, `per_TREES-NE` for the above and below median dataset filtered by the sum_tree variable.

Do not forget to use relative paths.

In [1]:
import pandas as pd

1.

In [2]:
# We import the first data set

df1 = pd.read_csv(r"../../_data/new_up_data_sysdif_block_lvl_ver2.csv")
df1.head()

,pc11_s_id,pc11_d_id,pc11_sd_id,year,post_ror_data_entry_block_any,post_ror_dist_softw_available_block_any,post_ror_aadhaar_link_block_any,post_mutation_computerized_block_any,post_digital_ror_issued_block_any,block_id,mean_night,count_night,sum_night,sd_name,frac_12,per_aggriculture,per_treecover,per_greencover,per_built
0,1,1,1,2000,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,NaN,NaN,31.286381,47.388935,21.324677
1,1,1,1,2001,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.064216,6.421551,33.507698,42.900303,23.592001
2,1,1,1,2002,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.076860,7.685976,28.036722,49.964584,21.998692
3,1,1,1,2003,0,0,0,0,0,1,0.002703,8192,22.144901,Kupwara,0.072095,7.209489,32.680721,45.621540,21.697739
4,1,1,1,2004,0,0,0,0,0,1,0.003113,8192,25.503809,Kupwara,0.052910,5.290961,31.404015,41.732754,26.863232

2.

In [3]:
# We import the second data set

df2 = pd.read_csv(r"../../_data/ESA_CLIMATE_CHANGE_tree_layers.csv")
df2.head()

,pc11_s_id,pc11_d_id,pc11_sd_id,sd_name,per_TREES-BD,year,per_TREES-BE,per_TREES-ND,per_TREES-NE
0,24,468,0,Rann Of Kachchh,0.020038,2006,0.0,0.035410,0.003214
1,24,468,3722,Lakhpat,1.768032,2006,0.0,0.186592,0.002453
2,24,468,3723,Rapar,0.001384,2006,0.0,0.000000,0.000000
3,24,468,3724,Bhachau,0.005311,2006,0.0,0.013269,0.000000
4,24,468,3725,Anjar,0.010257,2006,0.0,0.018871,0.000000

3.

In [10]:
# We create a list with the desired variables.

columnas = ['per_TREES-BD','per_TREES-BE','per_TREES-ND','per_TREES-NE']

In [11]:
# We do the merge with the desired variables

df_merge = pd.merge(df1, df2, on=['pc11_s_id', 'pc11_d_id', 'pc11_sd_id', 'year'])
df_merge.head()

,pc11_s_id,pc11_d_id,pc11_sd_id,year,post_ror_data_entry_block_any,post_ror_dist_softw_available_block_any,post_ror_aadhaar_link_block_any,post_mutation_computerized_block_any,post_digital_ror_issued_block_any,block_id,...,frac_12,per_aggriculture,per_treecover,per_greencover,per_built,sd_name_y,per_TREES-BD,per_TREES-BE,per_TREES-ND,per_TREES-NE
0,1,1,1,2000,0,0,0,0,0,1,...,NaN,NaN,31.286381,47.388935,21.324677,Kupwara,1.964613,1.117632,0.0,29.015697
1,1,1,1,2001,0,0,0,0,0,1,...,0.064216,6.421551,33.507698,42.900303,23.592001,Kupwara,1.956872,1.117632,0.0,28.908140
2,1,1,1,2002,0,0,0,0,0,1,...,0.076860,7.685976,28.036722,49.964584,21.998692,Kupwara,1.969693,1.117632,0.0,28.930830
3,1,1,1,2003,0,0,0,0,0,1,...,0.072095,7.209489,32.680721,45.621540,21.697739,Kupwara,1.968723,1.117632,0.0,28.954021
4,1,1,1,2004,0,0,0,0,0,1,...,0.052910,5.290961,31.404015,41.732754,26.863232,Kupwara,1.972254,1.140225,0.0,29.136803

4.

In [12]:
# We generate the descriptive statistics for the desired columns.

table_1 = df_merge[columnas].describe().transpose()
table_1

,count,mean,std,min,25%,50%,75%,max
per_TREES-BD,125265.0,2.346108,5.021063,0.0,0.005265,0.283303,2.236597,48.696053
per_TREES-BE,125265.0,4.268641,13.565375,0.0,0.000000,0.000000,0.065836,86.316345
per_TREES-ND,125265.0,0.006143,0.148299,0.0,0.000000,0.000000,0.000000,10.135350
per_TREES-NE,125265.0,1.974766,6.656288,0.0,0.000000,0.000000,0.037414,55.175827