In [13]:
!pip install rasterstats

Requirement already satisfied: rasterstats in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (0.19.0)
Requirement already satisfied: affine in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (2.4.0)
Requirement already satisfied: click>7.1 in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (8.1.7)
Requirement already satisfied: cligj>=0.4 in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (0.7.2)
Requirement already satisfied: fiona in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (1.10.0)
Requirement already satisfied: numpy>=1.9 in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (2.0.2)
Requirement already satisfied: rasterio>=1.0 in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (1.3.11)
Requirement already satisfied: simplejson in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (3.19.3)
Requirement already satisfied: shapely in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterstats) (2.0.6)
Requirement already satisfied: colorama in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from click>7.1->rasterstats) (0.4.6)
Requirement already satisfied: attrs in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterio>=1.0->rasterstats) (23.1.0)
Requirement already satisfied: certifi in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterio>=1.0->rasterstats) (2024.7.4)
Requirement already satisfied: snuggs>=1.4.1 in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterio>=1.0->rasterstats) (1.4.7)
Requirement already satisfied: click-plugins in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterio>=1.0->rasterstats) (1.1.1)
Requirement already satisfied: setuptools in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterio>=1.0->rasterstats) (72.1.0)
Requirement already satisfied: importlib-metadata in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from rasterio>=1.0->rasterstats) (7.0.1)
Requirement already satisfied: pyparsing>=2.1.6 in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from snuggs>=1.4.1->rasterio>=1.0->rasterstats) (3.1.4)
Requirement already satisfied: zipp>=0.5 in c:\users\karla\anaconda3\envs\geopandas_env\lib\site-packages (from importlib-metadata->rasterio>=1.0->rasterstats) (3.17.0)

In [23]:
import os
import geopandas as gpd
import rasterio
from rasterstats import zonal_stats
from shapely.ops import transform
import matplotlib.pyplot as plt
import pandas as pd
import pyproj
import numpy as np

In [25]:
# Load your shapefile
shapefile_path = '../../_data/INEI_LIMITE_DEPARTAMENTAL/INEI_LIMITE_DEPARTAMENTAL.shp'
gdf = gpd.read_file(shapefile_path)
gdf

,OBJECTID_1,OBJECTID,CCDD,NOMBDEP,CAPITAL,Shape_STAr,Shape_STLe,ORIG_FID,Shape_Leng,Shape_Area,CORREO,CONTACTO,WHATSAPP,geometry
0,1,1.0,01,AMAZONAS,CHACHAPOYAS,3.203006,12.912088,0,12.912088,3.203006,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-77.81399 -2.99278, -77.81483 -2.995..."
1,2,2.0,02,ANCASH,HUARAZ,2.954592,11.780424,1,11.780424,2.954592,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-77.64697 -8.05086, -77.64689 -8.051..."
2,3,3.0,03,APURIMAC,ABANCAY,1.765933,7.730154,2,7.730154,1.765933,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-73.74655 -13.17442, -73.7457 -13.17..."
3,4,4.0,04,AREQUIPA,AREQUIPA,5.330203,17.405040,3,17.405040,5.330203,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-71.98109 -14.64062, -71.98093 -14.6..."
4,5,5.0,05,AYACUCHO,AYACUCHO,3.643705,17.127166,4,17.127166,3.643705,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-74.34843 -12.17503, -74.35 -12.1758..."
5,6,6.0,06,CAJAMARCA,CAJAMARCA,2.684527,12.397424,5,12.397424,2.684527,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-78.22182 -7.76346, -78.22233 -7.763..."
6,7,7.0,07,CALLAO,CALLAO,0.011738,1.111221,6,1.111221,0.011738,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-77.13504 -11.8182, -77.13484 -11.81..."
7,8,8.0,08,CUSCO,CUSCO,6.000331,21.794434,7,21.794434,6.000331,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-72.9728 -11.25189, -72.97134 -11.25..."
8,9,9.0,09,HUANCAVELICA,HUANCAVELICA,1.839851,9.561245,8,9.561245,1.839851,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-74.57118 -11.9871, -74.57095 -11.98..."
9,10,10.0,10,HUANUCO,HUANUCO,3.089811,14.589840,9,14.589840,3.089811,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-75.992 -8.32108, -75.99015 -8.32171..."
10,11,11.0,11,ICA,ICA,1.767025,10.374368,10,10.374368,1.767025,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-75.61136 -12.96649, -75.61103 -12.9..."
11,12,12.0,12,JUNIN,HUANCAYO,3.658881,14.314727,11,14.314727,3.658881,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-75.03564 -10.68232, -75.03436 -10.6..."
12,13,13.0,13,LA LIBERTAD,TRUJILLO,2.068780,13.148266,12,13.148266,2.068780,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-77.75753 -6.96579, -77.75638 -6.967..."
13,14,14.0,14,LAMBAYEQUE,CHICLAYO,1.184994,6.685351,13,6.685351,1.184994,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-79.88373 -5.49283, -79.88265 -5.494..."
14,15,15.0,15,LIMA,LIMA,2.904475,12.745226,14,12.745226,2.904475,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"MULTIPOLYGON (((-76.79732 -12.47686, -76.79732..."
15,19,16.0,16,LORETO,IQUITOS,30.550256,46.701789,15,46.701789,30.550256,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-75.10004 -0.08096, -75.09485 -0.081..."
16,20,17.0,17,MADRE DE DIOS,PUERTO MALDONADO,7.023854,15.416397,16,15.416397,7.023854,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-70.61346 -10.12964, -70.61359 -10.2..."
17,21,18.0,18,MOQUEGUA,MOQUEGUA,1.334888,7.720424,17,7.720424,1.334888,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-70.79388 -15.98721, -70.79486 -15.9..."
18,22,19.0,19,PASCO,CERRO DE PASCO,1.972864,10.891698,18,10.891698,1.972864,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-74.68005 -9.44727, -74.67872 -9.448..."
19,23,20.0,20,PIURA,PIURA,2.899223,11.299471,19,11.299471,2.899223,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-81.02621 -4.10594, -81.02557 -4.106..."
20,24,21.0,21,PUNO,PUNO,5.666684,26.709721,20,26.709721,5.666684,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"MULTIPOLYGON (((-68.81422 -16.34799, -68.91839..."
21,31,22.0,22,SAN MARTIN,MOYOBAMBA,4.174664,16.162954,21,16.162954,4.174664,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-77.71678 -5.41597, -77.7127 -5.4164..."
22,32,23.0,23,TACNA,TACNA,1.362022,6.088704,22,6.088704,1.362022,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-70.26604 -16.77955, -70.26474 -16.7..."
23,33,24.0,24,TUMBES,TUMBES,0.378757,3.787977,23,3.787977,0.378757,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-80.28521 -3.41276, -80.28406 -3.412..."
24,34,25.0,25,UCAYALI,PUCALLPA,8.660111,27.470159,24,27.470159,8.660111,juan.suyo@geogpsperu.com,www.geogpsperu.com,931381206,"POLYGON ((-74.47145 -7.27617, -74.47052 -7.277..."

In [3]:
# Algunas modificaciones
transformer = pyproj.Transformer.from_crs('epsg:4326', 'esri:54009', always_xy=True)

# Define a function to apply the transformation
def apply_transform(geom):
    return transform(transformer.transform, geom)

# Apply the transformation to the geometries
gdf['geometry'] = gdf['geometry'].apply(apply_transform)

In [6]:
# Loop

# Definir los archivos raster y los nombres de los DataFrames
rasters = {
        'df10_10':'../../_data/rasters_peru/R10_C10.tif',
        'df10_11':'../../_data/rasters_peru/R10_C11.tif',
        'df10_12':'../../_data/rasters_peru/R10_C12.tif',
        'df11_11':'../../_data/rasters_peru/R11_C11.tif',
        'df11_12':'../../_data/rasters_peru/R11_C12.tif',
        'df12_11':'../../_data/rasters_peru/R12_C11.tif',
        'df12_12':'../../_data/rasters_peru/R12_C12.tif'
}

# Diccionario para almacenar los DataFrames
dfs = {}

# Bucle para procesar cada archivo raster
for df_name, raster_path in rasters.items():
    # Calcular estadísticas zonales
    stats = zonal_stats(gdf, raster_path, stats="unique", categorical=True)
    
    # Crear un DataFrame para las estadísticas
    df = pd.DataFrame(stats)
    
    # Almacenar el DataFrame en el diccionario
    dfs[df_name] = df

In [39]:
## Sumar todos los dfs del diccionario

# Inicializa un DataFrame vacío con el mismo índice que los otros
result = pd.DataFrame(index=dfs[list(dfs.keys())[0]].index)

# Recorre cada DataFrame en el diccionario
for df in dfs.values():
    # Convertir todas las columnas a numéricas, forzando errores en NaN
    df = df.apply(pd.to_numeric, errors='coerce')
    # Sumar al DataFrame resultante
    result = result.add(df, fill_value=0)

# Añadir una columna ID con valores del 0 al número de filas - 1
result['ID'] = range(len(result))

if 'Source' in result.columns:
    result = result.drop(columns=['Source'])

result

,0,1,2,3,4,5,11,12,13,14,15,21,22,23,24,25,ID,unique
0,3.945348e+08,43674.0,89873.0,247517.0,346.0,25140.0,298134.0,15559.0,47990.0,1332.0,NaN,114.0,87.0,438.0,36.0,NaN,0,14.0
1,3.586817e+08,406426.0,201920.0,643834.0,1497.0,60090.0,882127.0,69670.0,224621.0,9348.0,353.0,2051.0,776.0,4338.0,236.0,NaN,1,22.0
2,2.110505e+08,65430.0,128728.0,429495.0,416.0,40433.0,489258.0,33874.0,59269.0,5800.0,NaN,1127.0,36.0,83.0,25.0,NaN,2,14.0
3,6.328493e+08,889738.0,221526.0,206575.0,1012.0,79594.0,580927.0,112331.0,424801.0,19926.0,NaN,1755.0,843.0,11681.0,598.0,NaN,3,50.0
4,4.361643e+08,168877.0,226253.0,476678.0,541.0,48624.0,628170.0,36632.0,133719.0,15510.0,NaN,148.0,22.0,781.0,17.0,NaN,4,14.0
5,3.255039e+08,179202.0,420575.0,1956275.0,751.0,64471.0,2185768.0,64082.0,155690.0,6771.0,NaN,1923.0,455.0,2004.0,67.0,NaN,5,14.0
6,5.987600e+05,366462.0,8457.0,926.0,464.0,47083.0,19657.0,28974.0,288275.0,23249.0,NaN,137.0,1636.0,32965.0,6090.0,NaN,6,14.0
7,7.193925e+08,259384.0,531592.0,1433373.0,2374.0,132449.0,1653050.0,93293.0,247894.0,99517.0,962.0,1863.0,62.0,1721.0,523.0,NaN,7,28.0
8,2.209815e+08,50146.0,137166.0,381259.0,286.0,33281.0,499974.0,9416.0,23065.0,3840.0,NaN,219.0,28.0,69.0,NaN,NaN,8,13.0
9,3.758334e+08,109302.0,196093.0,626233.0,1461.0,54833.0,751489.0,41130.0,90129.0,11663.0,NaN,313.0,NaN,238.0,356.0,NaN,9,13.0
10,2.108268e+08,643513.0,75635.0,28618.0,720.0,30289.0,324951.0,89125.0,206023.0,2677.0,NaN,2591.0,647.0,4386.0,1081.0,NaN,10,14.0
11,4.415042e+08,247689.0,366778.0,738606.0,1467.0,71464.0,841046.0,128992.0,314331.0,17615.0,NaN,1048.0,253.0,1064.0,845.0,NaN,11,14.0
12,2.509241e+08,778449.0,203548.0,543112.0,633.0,78945.0,918546.0,104617.0,335199.0,12115.0,NaN,2377.0,1553.0,7587.0,489.0,NaN,12,28.0
13,1.441564e+08,462795.0,186689.0,204499.0,752.0,49074.0,509261.0,76617.0,286946.0,5428.0,NaN,1295.0,242.0,3152.0,406.0,NaN,13,15.0
14,3.431865e+08,3766560.0,365130.0,129576.0,14613.0,484930.0,847763.0,283144.0,2503893.0,540216.0,20802.0,8305.0,4321.0,130800.0,18139.0,290.0,14,16.0
15,3.773259e+09,103822.0,162261.0,324869.0,1790.0,14236.0,328753.0,39127.0,159977.0,1475.0,NaN,1900.0,201.0,1125.0,NaN,NaN,15,28.0
16,8.509974e+08,33661.0,64469.0,100238.0,209.0,13033.0,113085.0,20978.0,46030.0,256.0,NaN,29.0,NaN,19.0,NaN,NaN,16,19.0
17,1.579409e+08,146172.0,25662.0,22366.0,212.0,8896.0,93278.0,22586.0,41151.0,2355.0,NaN,1084.0,323.0,187.0,NaN,NaN,17,22.0
18,2.397574e+08,76819.0,83232.0,189863.0,1712.0,24499.0,247854.0,29872.0,43608.0,3050.0,NaN,171.0,64.0,78.0,331.0,NaN,18,14.0
19,3.542618e+08,791356.0,456561.0,523113.0,1294.0,67646.0,1066638.0,143853.0,485756.0,8199.0,NaN,2813.0,1381.0,9031.0,661.0,NaN,19,28.0
20,6.736935e+08,446024.0,849987.0,1128243.0,855.0,79811.0,1811083.0,100212.0,258892.0,23801.0,NaN,345.0,66.0,1124.0,34.0,NaN,20,24.0
21,5.118001e+08,89320.0,246592.0,465932.0,629.0,44990.0,506762.0,73676.0,150308.0,1190.0,NaN,2690.0,566.0,2273.0,NaN,NaN,21,23.0
22,1.602217e+08,283916.0,24877.0,8511.0,125.0,23371.0,125069.0,27922.0,118372.0,3077.0,NaN,552.0,220.0,1269.0,NaN,NaN,22,13.0
23,4.643290e+07,83344.0,62153.0,40308.0,518.0,12872.0,80473.0,20420.0,84544.0,11000.0,NaN,490.0,NaN,83.0,NaN,NaN,23,23.0
24,1.056842e+09,92642.0,189070.0,273609.0,1280.0,23052.0,248747.0,53823.0,174899.0,12086.0,2095.0,680.0,401.0,1529.0,241.0,NaN,24,27.0

In [40]:
## Apilar los dfs

# Función para agregar columna ID y columna Source
def add_identifiers(df, source_name):
    df['ID'] = range(len(df))  # Añadir columna de IDs únicos
    df['Source'] = source_name  # Añadir columna de origen
    return df

# Aplicar la función a cada DataFrame en el diccionario
dfs_id = [add_identifiers(df, key) for key, df in dfs.items()]

# Concatenar todos los DataFrames con las columnas adicionales
combined_df = pd.concat(dfs_id, ignore_index=True)
combined_df

,unique,0,1,2,3,4,5,11,12,13,14,21,22,23,24,ID,Source,15,25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,df10_10,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,df10_10,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,df10_10,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,df10_10,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,df10_10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,10.0,108725542.0,26709.0,102928.0,169676.0,28.0,6807.0,259150.0,4320.0,5421.0,NaN,202.0,NaN,NaN,NaN,20,df12_12,NaN,NaN
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,df12_12,NaN,NaN
172,13.0,160221720.0,283916.0,24877.0,8511.0,125.0,23371.0,125069.0,27922.0,118372.0,3077.0,552.0,220.0,1269.0,NaN,22,df12_12,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,df12_12,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,df12_12,NaN,NaN

In [46]:
# Importar archivo JSON
json_file_path = '../Assignment_8/apilado.json'

# Cargar JSON directamente en un DataFrame
prueba = pd.read_json(json_file_path, lines=True)

prueba

,unique,0,1,2,3,4,5,11,12,13,14,21,22,23,24,ID,Source,15,25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,df10_10,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,df10_10,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,df10_10,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,df10_10,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,df10_10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,10.0,108725542.0,26709.0,102928.0,169676.0,28.0,6807.0,259150.0,4320.0,5421.0,NaN,202.0,NaN,NaN,NaN,20,df12_12,NaN,NaN
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,df12_12,NaN,NaN
172,13.0,160221720.0,283916.0,24877.0,8511.0,125.0,23371.0,125069.0,27922.0,118372.0,3077.0,552.0,220.0,1269.0,NaN,22,df12_12,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,df12_12,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,df12_12,NaN,NaN

In [ ]:
# Crear una lista para almacenar los porcentajes de cobertura por variable
coverage_percentages = []

# Abrir el mosaico ráster
with rasterio.open(mosaic_raster_path) as src:
    for i in range(1, src.count + 1):  # Para cada banda del ráster
        band_coverage = []

        # Para cada polígono de departamento, calcular el porcentaje de área cubierta
        for _, department in gdf_departments.iterrows():
            # Extraer el polígono del departamento
            geometry = [department['geometry']]

            # Recortar el ráster al área del departamento
            out_image, out_transform = mask(src, geometry, crop=True, indexes=i)
            out_image = out_image[0]  # Extraer solo la banda

            # Calcular el porcentaje de píxeles no nulos
            total_pixels = out_image.size
            covered_pixels = np.count_nonzero(out_image)

            # Calcular el porcentaje de cobertura
            percentage_coverage = (covered_pixels / total_pixels) * 100
            band_coverage.append(percentage_coverage)

        # Añadir los resultados a la lista
        coverage_percentages.append(band_coverage)

# Convertir la lista de porcentajes a columnas en el GeoDataFrame
for i in range(len(coverage_percentages)):
    gdf_departments[f'Variable_{i+1}'] = coverage_percentages[i]

# 4. Crear el mapa coroplético usando Folium
center_lat, center_lon = gdf_departments.geometry.centroid.y.mean(), gdf_departments.geometry.centroid.x.mean()
folium_map = folium.Map(location=[center_lat, center_lon], zoom_start=6)

# Añadir las capas de choropleth al mapa para cada variable
for i in range(15):  # Asumimos que el ráster tiene 15 bandas
    folium.Choropleth(
        geo_data=gdf_departments.to_json(),
        name=f'Variable {i+1}',
        data=gdf_departments,
        columns=[gdf_departments.index, f'Variable_{i+1}'],
        key_on='feature.id',
        fill_color='YlGn',
        fill_opacity=0.7,
        line_opacity=0.2,
        legend_name=f'Variable {i+1} (%)',
    ).add_to(folium_map)

# Añadir el control de capas
folium.LayerControl().add_to(folium_map)

# 5. Guardar el mapa en un archivo HTML
html_output_path = 'nombre_de_tu_rama.html'
folium_map.save(html_output_path)

print(f'Mapa coroplético guardado en {html_output_path}')